@import url(https://fonts.googleapis.com/css?family=Satisfy);

$brand-primary: #4dbebe !default;
// $brand-secondary: #00bcd4 !default;
$brand-information: #03a9f4 !default;
$brand-success: #8bc34a !default;
$brand-warning: #ffc107 !default;
$brand-danger: #f44336 !default;

$gray-white: #fff !default;
$gray-lighter: #f3f4f5 !default;
$gray-light: #dde0e3 !default;
$gray-medium: #9aa3ac !default;
$gray-dark: #5b6670 !default;
$gray-darker: #373d43 !default;
$gray-black: #121416 !default;

$brand-white: #e3dfdb !default;
$brand-secondary: #c6168d !default;

$base-gutter: 30px !default;
$base-column: 12 !default;

$base-width: 992px !default;
$base-sm-width: 540px !default;
$base-md-width: 720px !default;
$base-lg-width: 960px !default;
$base-xl-width: 1140px !default;

$base-sm-break: 576px !default;
$base-md-break: 768px !default;
$base-lg-break: 992px !default;
$base-xl-break: 1200px !default;

$base-font-sans: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif !default;
$base-font-serif: "Times New Roman", Georgia , "Hiragino Mincho ProN", "Yu Mincho", sans-serif !default;
$base-font-monospace: "Menlo", "Lucida Console", monospace !default;
$base-font-WEBFONTS: "Satisfy", sans-serif !default;
$base-font-EncodeSans: 'Encode Sans Condensed', sans-serif !default;
$base-font-Hiragino-Kaku-Gothic: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","ＭＳ Ｐゴシック",sans-serif !default;

$base-font-smallest: .7em !default;
$base-font-smaller: .8em !default;
$base-font-small: .9em !default;
$base-font-medium: 1em !default;
$base-font-large: 1.25em !default;
$base-font-larger: 1.5em !default;
$base-font-largest: 2em !default;

$body-font-family: $base-font-sans !default;
$body-font-size: 1.4rem !default;
$body-line-height: 1.67 !default;
$body-background: $gray-white !default;
$body-color: $gray-dark !default;

$heading-font-weight: bold !default;
$heading-line-height: 1.34 !default;
$heading-color: $gray-darker !default;

$link-color: $brand-primary !default;
$accent-color: $brand-danger !default;

$code-font-family: $base-font-monospace !default;
$code-line-height: 1.34 !default;
$code-font-size: 1.2rem !default;
