@mixin responsive {
	@if $construction == "responsive" {
		@content;
	}
}

@mixin adaptive {
	@if $construction == "adaptive" {
		@content;
	}
}

@mixin desktop {
	@if $device == "desktop" {
		@content;
	}
}

@mixin mobile {
	@if $device == "mobile" {
		@content;
	}
}

@mixin xs {
	@content;
}

@mixin sm {
	@media (min-width: $base-sm-break) {
		@content;
	}
}

@mixin md {
	@media (min-width: $base-md-break) {
		@content;
	}
}

@mixin lg {
	@media (min-width: $base-lg-break) {
		@content;
	}
}

@mixin xl {
	@media (min-width: $base-xl-break) {
		@content;
	}
}
