html {
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
}

body {
	background: $body-background;
	color: $body-color;
	font-family: $base-font-Hiragino-Kaku-Gothic;
	font-size: $body-font-size;
	line-height: $body-line-height;
}

/* Headnigs */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
}

h1 {
	//
}

h2 {
	//
}

h3 {
	//
}

h4 {
	//
}

h5 {
	//
}

h6 {
	//
}

/* Paragraph */

p {
	margin: 0;
}

blockquote {
	//
}

address {
	//
}

pre {
	code {
		display: block;
		line-height: $code-line-height;
	}
}

/* List */

ol {
	//
}

ul {
	//
}

li {
	//
}

dl {
	//
}

dt {
	//
}

dd {
	//
}

/* Figure */

figure {
	margin-left: 0;
	margin-right: 0;
}

figcaption {
	//
}

/* Table */

table {
	margin-bottom: 1em;
	margin-top: 1em;
}

caption {
	//
}

thead {
	//
}

tbody {
	//
}

tfoot {
	//
}

tr {
	//
}

th {
	//
}

td {
	//
}

/* Horizontal Rule */

hr {
	border: none;
	border-top: 1px solid $gray-light;
}

/* Inline Elements */

img {
	height: auto;
	max-width: 100%;
	width: auto;
}

a {
	color: $link-color;
}

em {
	//
}

strong {
	//
}

small {
	//
}

s {
	//
}

cite {
	//
}

q {
	//
}

code {
	font-family: $code-font-family;
	font-size: $code-font-size;
}

kbd {
	//
}

sub {
	//
}

sup {
	//
}

i {
	//
}

b {
	//
}

mark {
	//
}

/* Form */

form {
	//
}

fieldset {
	//
}

legend {
	//
}

label {
	//
}

input {
	//
}

input[type="button"] {
	//
}

input[type="checkbox"] {
	//
}

input[type="email"] {
	//
}

input[type="file"] {
	//
}

input[type="hidden"] {
	//
}

input[type="image"] {
	//
}

input[type="number"] {
	//
}

input[type="password"] {
	//
}

input[type="radio"] {
	//
}

input[type="range"] {
	//
}

input[type="search"] {
	//
}

input[type="submit"] {
	//
}

input[type="tel"] {
	//
}

input[type="text"] {
	//
}

input[type="url"] {
	//
}

select {
	//
}

option {
	//
}

textarea {
	//
}

button {
	//
}

button[type="submit"] {
	//
}

button[type="reset"] {
	//
}

button[type="button"] {
	//
}
