.topBanner{
    margin-top: 70px;
    @include sm{
        margin-top: 0;
    }
    .autoplay{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: 100%;
        ._pcItem{
            visibility: hidden;
            @include sm{
                visibility: visible;
            }
        }
        ._smpItem{
            visibility: visible;
            @include sm{
                visibility: hidden;
            }
        }
        .slick_prev{
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            margin: 0 52px 0 0;
            overflow: visible;
            &:after{
                @include icon("arrow-left");
                background-color: rgba(102, 102, 102, 0.863);
                color: $gray-white;
                font-size: 32px;
                padding: 10px;
                visibility: visible;
                overflow: visible;
                border-right: rgb(190, 190, 190) solid 1px;
                cursor: pointer;
            }
            &:hover{
                &:after{
                    background-color: rgb(102, 102, 102);
                    color: rgb(206, 206, 206);
                }
            }
        }
        .slick_next{
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            &:after{
                @include icon("arrow-right");
                color: $gray-white;
                font-size: 32px;
                padding: 10px;
                visibility: visible;
                background-color: rgba(102, 102, 102, 0.863);
                cursor: pointer;
            }
            &:hover{
                &:after{
                    background-color: rgb(102, 102, 102);
                    color: rgb(206, 206, 206);
                }
            }
        }
        img{
            width: 100%;
            margin: 0 auto;
        }
    }
    > ._pcItem{
        display: none;
        @include sm{
            display: block;
        }
    }
    > ._smpItem{
        display: block;
        @include sm{
            display: none;
        }
    }

}
