
.secondaryBanner{
    padding: 0 0 15px 0;
    text-align: center;
    @include md{
        margin: 30px 0;
        padding: 0;
        transition: all 0.2s ease 0s;
        &:hover{
            opacity: 0.8;
        }
    }
    a{
        display: inline-block;
        width: 100%;
        > img{
            width: 100%;
        }
    }

}
.secondaryBannerFirst{
    margin: 15px 0 0 0;
    @include md{
        margin: 30px 0;
    }
}
