
.fxb-productDescription{
    background-color: #121e36;
    color: $gray-white;
}
.oticon{
    > img{
        @include xs{
            padding: 20px 50px 0 0;
        }
        @include sm{
            padding: 100px 0 0 0;
        }
        @include md{
            padding: 20px 30px 0 0;
            transition: all 0.5s ease 0s;
            &:hover{
                transform: translateY(-0.5em);
            }
        }
        @include lg{
            padding: 10px 30px 0 0;
        }
    }
}
.peopleFirst {
    width: 100%;
    padding: 0 30px;
    @include md{
        width: 100%;
        margin: 0 auto;
        padding: 0 ;
    }
	> ._title {
        padding:20px 0 0 0;
        max-width: 198px;
        @include md{
            padding:80px 0 0 0;
            max-width: 1000px;
        }
	}
	> ._text01 {
        font-size: 15px;
        padding: 10px 0 0 0;
        @include md{
            font-size: 19px;
        }
	}
	> ._text02 {
        padding: 26px 0 30px 0;
        max-width: 185px;
        font-size: 20px;
        margin: 0;
        @include md{
            padding: 26px 0 37px 0;
            max-width: 1000px;
            font-size: 20px;
        }
	}
	> ._text03 {
        max-width: 1000px;
        padding: 0 0 66px 0;
        margin: 0;
        font-size: 15px;
        @include md{
            padding: 0 0 94px 0;
            max-width: 1000px;
        }
	}
}
