
.fxb-latestInformation{
    padding: 40px 0;
}
.latestNewsHeader {
	> ._title {
        color: #383c3b;
        font-size: 39px;
        font-weight: 300;
        text-align: center;
        margin: 0 0 40px 0;
        @include sm{
            margin: 20px 0 20px 0;
        }
        @include md{
            font-size: 39px;
            margin: 60px 0 40px 0;
        }
        @include lg{
        }
        @include xl{
            margin: 80px 15px 40px 0;
        }
    }
	> ._link {
        text-align: center;
        margin: 0;
        @include md{
            margin: 0 0 30px 0;
        }
        > a{
            display: flex;
            align-items: center;
            background-color: $gray-white;
            border: 2px solid #383c3b;
            width: 100%;
            border-radius: 6px;
            font-size: 19px;
            color: #383c3b;
            padding: 1.3em;
            text-decoration: none;
            &:hover{
                background-color: $gray-lighter;
                transition: background-color .3s;
            }
            &:before{
                @include icon("arrow");
                font-size: 20px;
                margin: 0 14px 0 0;
            }
            @include xl{
                width: 240px;
            }
        }
	}
}
.latestNewsItem {
    transition: all 0.3s ease 0s;
    &:hover{
        transform: scale(1.04, 1.04);
    }
    a{
        text-decoration: none;
        display: inline-block;
        img{
            width: 100%;
            margin: 30px 0 0 0;
            @include md{
                margin: 10px 0 0 0;
                padding: 0 7.5px;
            }
        }
        ._dateCategory {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 10px;
            > ._date {
                color: #7e7b78;
                font-size: 15px;
                margin: 15px 0;
                letter-spacing: 0.75px;
                @include md{
                    font-size: 14px;
                    margin: 10px 0;
                }
            }
            > ._category {
                color: $brand-secondary;
                font-size: 15px;
                margin: 15px 0;
                font-weight: bold;
                letter-spacing: 0.75px;
                @include md{
                    font-size: 14px;
                    margin: 10px 0;
                }
            }
            >._title { 
                color: #5b6670;
                font-size: 14px;
            }
        }
    }
    &:hover{
        background-color: $gray-lighter;
    }
}
