
.fxb-sns{
    background-color: #efefed;
    ._pc{
        display: none;
    }
    ._smp{
        display: block;
    }
    @include sm{
        ._pc{
            display: block;
        }
        ._smp{
            display: none;
        }
    }

}
.sns{
    list-style-type: none;
    padding-left: 0;
    margin: 0 -15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include sm{
        width: $base-sm-width;
        margin: 0 auto;
    }
    @include md{
        width: $base-md-width;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 15px;
    }
    @include lg{
        width: $base-lg-width;
    }
    @include xl{
        width: $base-xl-width;
    }
    li{
        height: 50%;
        @include sm{
            width: $base-sm-width;
            margin: 0 auto;
        }
        @include md{
            width: 50%;
            height: auto;
            transition: all 0.2s ease 0s;
            &:hover{
                opacity: 0.6;
            }
        }
    }
}
