.pageTopBtn{
    width: 100%;
    padding: 38px 0;
    margin: 0 auto;
    text-align: center;
    img{
        cursor: pointer;
        cursor: hand; 
        transition: all 0.3s ease 0s;
        &:hover{
            transform: translateY(-0.4em);
        }
    }
}
