@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,400,500,600&display=swap");
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse;
}

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  color: #5b6670;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.4rem;
  line-height: 1.67;
}

/* Headnigs */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #373d43;
  font-weight: bold;
  line-height: 1.34;
}

/* Paragraph */
p {
  margin: 0;
}

pre code {
  display: block;
  line-height: 1.34;
}

/* List */
/* Figure */
figure {
  margin-left: 0;
  margin-right: 0;
}

/* Table */
table {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* Horizontal Rule */
hr {
  border: none;
  border-top: 1px solid #dde0e3;
}

/* Inline Elements */
img {
  height: auto;
  max-width: 100%;
  width: auto;
}

a {
  color: #4dbebe;
}

code {
  font-family: "Menlo", "Lucida Console", monospace;
  font-size: 1.2rem;
}

/* Form */
@font-face {
  font-family: "icon";
  src: url("../fonts/icon.eot");
  src: url("../fonts/icon.eot?#iefix") format("eot"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"), url("../fonts/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bracket-top:before {
  content: "\E101";
}

.icon-bracket-left:before {
  content: "\E102";
}

.icon-bracket-right:before {
  content: "\E103";
}

.icon-bracket-bottom:before {
  content: "\E104";
}

.icon-facebook:before {
  content: "\E201";
}

.icon-twitter:before {
  content: "\E202";
}

.icon-instagram:before {
  content: "\E203";
}

.icon-line:before {
  content: "\E204";
}

.icon-youtube:before {
  content: "\E205";
}

.icon-arrow:before {
  content: "\E206";
}

.icon-menu:before {
  content: "\E207";
}

.icon-arrow-left:before {
  content: "\E208";
}

.icon-arrow-right:before {
  content: "\E209";
}

.icon-rhombus:before {
  content: "\E210";
}

.icon-building:before {
  content: "\E211";
}

.icon-search:before {
  content: "\E212";
}

.icon-close:before {
  content: "\E213";
}

.l-glyph {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -10px;
}

.l-glyph > li {
  display: block;
  width: calc(50% - 20px);
  background-color: #ecf0f1;
  border-radius: .5em;
  padding: 10px 0;
  margin: 10px;
  text-align: center;
}

@media (min-width: 992px) {
  .l-glyph > li {
    width: calc(25% - 20px);
  }
}

.l-glyph .icon {
  font-size: 2em;
}

.l-glyph .cssname {
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.l-glyph .copycontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.l-glyph .copycontainer .codepoint {
  margin-top: 1em;
  font-family: monospace;
  color: #7f8c8d;
}

.l-glyph .copycontainer .dev-elementView {
  display: none;
}

.l-glyph .copycontainer .dev-elementCode {
  width: 100%;
  padding: 0 10px;
}

.l-glyph .copycontainer .dev-elementCode pre {
  margin: 0;
}

.l-glyph .copycontainer .dev-elementCode pre button {
  margin-top: 10px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-indent-1 {
  text-indent: 1em;
}

.text-indent-2 {
  text-indent: 2em;
}

.text-indent-3 {
  text-indent: 3em;
}

.text-indent-4 {
  text-indent: 4em;
}

.text-color-default {
  color: #5b6670;
}

.text-color-inverse {
  color: #fff;
}

.text-color-primary {
  color: #4dbebe;
}

.text-color-secondary {
  color: #c6168d;
}

.text-color-accent {
  color: #f44336;
}

.text-weight-normal {
  font-weight: normal;
}

.text-weight-bold {
  font-weight: bold;
}

.text-style-italic {
  font-style: italic;
}

.text-style-oblique {
  font-style: oblique;
}

.text-style-line {
  text-decoration: underline;
}

.text-size-largest {
  font-size: 2em;
}

.text-size-larger {
  font-size: 1.5em;
}

.text-size-large {
  font-size: 1.25em;
}

.text-size-medium {
  font-size: 1em;
}

.text-size-small {
  font-size: 0.9em;
}

.text-size-smaller {
  font-size: 0.8em;
}

.text-size-smallest {
  font-size: 0.7em;
}

.text-family-sans {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
}

.text-family-serif {
  font-family: "Times New Roman", Georgia, "Hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

.text-family-code {
  font-family: "Menlo", "Lucida Console", monospace;
}

.text-family-WEBFONTS {
  font-family: "Satisfy", sans-serif;
}

.text-width-block {
  display: block;
}

.text-width-inline {
  display: inline-block;
}

.link-disabled {
  pointer-events: none;
}

[class^="btn-"],
[class*=" btn-"] {
  background-color: #f3f4f5;
  border: 2px solid transparent;
  color: inherit;
  display: inline-block;
  font-weight: bold;
  padding: .75em 1.25em;
  text-align: center;
  text-decoration: none;
}

.btn-default {
  background-color: #373d43;
  color: #fff;
}

.btn-inverse {
  background-color: #fff;
  color: #373d43;
}

.btn-primary {
  background-color: #4dbebe;
  color: #fff;
}

.btn-secondary {
  background-color: #c6168d;
  color: #fff;
}

.btn-accent {
  background-color: #f44336;
  color: #fff;
}

.btn-outline-default {
  background-color: transparent;
  border-color: #373d43;
  color: #373d43;
}

.btn-outline-inverse {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: #4dbebe;
  color: #4dbebe;
}

.btn-outline-secondary {
  background-color: transparent;
  border-color: #c6168d;
  color: #c6168d;
}

.btn-outline-accent {
  background-color: transparent;
  border-color: #f44336;
  color: #f44336;
}

.btn-size-small {
  font-size: 0.9em;
}

.btn-size-medium {
  font-size: 1em;
}

.btn-size-large {
  font-size: 1.25em;
}

.btn-width-1 {
  width: 8.33333%;
}

.btn-width-2 {
  width: 16.66667%;
}

.btn-width-3 {
  width: 25%;
}

.btn-width-4 {
  width: 33.33333%;
}

.btn-width-5 {
  width: 41.66667%;
}

.btn-width-6 {
  width: 50%;
}

.btn-width-7 {
  width: 58.33333%;
}

.btn-width-8 {
  width: 66.66667%;
}

.btn-width-9 {
  width: 75%;
}

.btn-width-10 {
  width: 83.33333%;
}

.btn-width-11 {
  width: 91.66667%;
}

.btn-width-12 {
  width: 100%;
}

.btn-disabled {
  pointer-events: none;
}

[class^="card-"],
[class*=" card-"] {
  background-color: #f3f4f5;
  color: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 1em;
  text-decoration: none;
}

[class^="card-"] > ._image,
[class*=" card-"] > ._image {
  min-height: 0%;
}

[class^="card-"] > ._image img,
[class*=" card-"] > ._image img {
  width: 100%;
}

[class^="card-"] > ._content,
[class*=" card-"] > ._content {
  padding-left: 15px;
  padding-right: 15px;
}

[class^="card-"] > ._content ._title,
[class*=" card-"] > ._content ._title {
  color: #373d43;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0;
}

[class^="card-"] > ._content ._outline,
[class*=" card-"] > ._content ._outline {
  margin-top: .5em;
}

.card-default {
  background-color: #fff;
  box-shadow: 0 0 1em rgba(18, 20, 22, 0.1);
}

.card-outline-default {
  background-color: #fff;
  border: 1px solid #dde0e3;
}

.card-outline-default > ._image {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.card-direction-vartical {
  flex-direction: column;
}

.card-direction-horizontal {
  flex-direction: row;
}

.card-direction-horizontal > ._image {
  max-width: 50%;
}

[class^="list-"],
[class*=" list-"] {
  counter-reset: i;
  list-style-type: none;
  padding-left: 0;
}

[class^="list-"] > *,
[class*=" list-"] > * {
  padding-left: 3em;
  position: relative;
}

[class^="list-"] > *:before,
[class*=" list-"] > *:before {
  color: #5b6670;
  counter-increment: i;
  display: inline-block;
  margin-right: -2.5em;
  position: absolute;
  right: 100%;
  text-decoration: none;
  white-space: nowrap;
}

.list-type-bullet > *:before {
  content: "\2022";
}

.list-type-number > *:before {
  content: counter(i) ".";
}

ul.list-type-circle > *:before {
  content: "\25CB";
}

ol.list-type-circle > *:before {
  border: 1px solid #5b6670;
  border-radius: 50%;
  box-sizing: content-box;
  content: counter(i);
  line-height: 1;
  text-align: center;
  top: .25em;
  width: 1em;
}

ul.list-type-rectangle > *:before {
  content: "\20DE";
}

ol.list-type-rectangle > *:before {
  border: 1px solid #5b6670;
  box-sizing: content-box;
  content: counter(i);
  line-height: 1;
  text-align: center;
  top: .25em;
  width: 1em;
}

ul.list-type-asterisk > *:before {
  content: "\FF0A";
}

ol.list-type-asterisk > *:before {
  content: "＊" counter(i);
}

ul.list-type-komejirushi > *:before {
  content: "\203b";
}

ol.list-type-komejirushi > *:before {
  content: "※" counter(i);
}

ul.list-type-notice > *:before {
  content: "\6ce8";
}

ol.list-type-notice > *:before {
  content: "注" counter(i);
}

ol.list-type-lowerLatin > *:before {
  content: counter(i, lower-latin) ".";
}

ol.list-type-upperLatin > *:before {
  content: counter(i, upper-latin) ".";
}

ol.list-type-parenthesis > *:before {
  content: "(" counter(i) ")";
}

ol.list-type-squareBracket > *:before {
  content: "[" counter(i) "]";
}

ol.list-type-angleBracket > *:before {
  content: "⟨" counter(i) "⟩";
}

.list-color-default > *:before {
  color: #5b6670;
}

.list-color-inverse > *:before {
  color: #fff;
}

.list-color-primary > *:before {
  color: #4dbebe;
}

.list-color-secondary > *:before {
  color: #c6168d;
}

.list-color-accent > *:before {
  color: #f44336;
}

[class^="table-"] th,
[class^="table-"] td,
[class*=" table-"] th,
[class*=" table-"] td {
  padding: .5em 1em;
}

[class^="table-"] thead tr,
[class*=" table-"] thead tr {
  background-color: #dde0e3;
}

[class^="table-"] tbody tr:nth-child(even),
[class*=" table-"] tbody tr:nth-child(even) {
  background-color: #f3f4f5;
}

.table-default thead tr {
  background-color: #373d43;
  color: #fff;
}

.table-primary thead tr {
  background-color: #4dbebe;
  color: #fff;
}

.table-secondary thead tr {
  background-color: #c6168d;
  color: #fff;
}

.table-width-1 {
  width: 8.33333%;
}

.table-width-2 {
  width: 16.66667%;
}

.table-width-3 {
  width: 25%;
}

.table-width-4 {
  width: 33.33333%;
}

.table-width-5 {
  width: 41.66667%;
}

.table-width-6 {
  width: 50%;
}

.table-width-7 {
  width: 58.33333%;
}

.table-width-8 {
  width: 66.66667%;
}

.table-width-9 {
  width: 75%;
}

.table-width-10 {
  width: 83.33333%;
}

.table-width-11 {
  width: 91.66667%;
}

.table-width-12 {
  width: 100%;
}

[class^="table-"] th._bold,
[class^="table-"] td._bold,
[class*=" table-"] th._bold,
[class*=" table-"] td._bold {
  font-weight: bold;
}

[class^="table-"] th._normal,
[class^="table-"] td._normal,
[class*=" table-"] th._normal,
[class*=" table-"] td._normal {
  font-weight: normal;
}

[class^="table-"] th._primary,
[class^="table-"] td._primary,
[class*=" table-"] th._primary,
[class*=" table-"] td._primary {
  color: #4dbebe;
}

[class^="table-"] th._secondary,
[class^="table-"] td._secondary,
[class*=" table-"] th._secondary,
[class*=" table-"] td._secondary {
  color: #c6168d;
}

[class^="table-"] th._accent,
[class^="table-"] td._accent,
[class*=" table-"] th._accent,
[class*=" table-"] td._accent {
  color: #f44336;
}

[class^="table-"] th._disabled,
[class^="table-"] td._disabled,
[class*=" table-"] th._disabled,
[class*=" table-"] td._disabled {
  color: #9aa3ac;
}

[class^="table-"] th._left,
[class^="table-"] td._left,
[class*=" table-"] th._left,
[class*=" table-"] td._left {
  text-align: left;
}

[class^="table-"] th._center,
[class^="table-"] td._center,
[class*=" table-"] th._center,
[class*=" table-"] td._center {
  text-align: center;
}

[class^="table-"] th._right,
[class^="table-"] td._right,
[class*=" table-"] th._right,
[class*=" table-"] td._right {
  text-align: right;
}

[class^="table-"] th._nowrap,
[class^="table-"] td._nowrap,
[class*=" table-"] th._nowrap,
[class*=" table-"] td._nowrap {
  white-space: nowrap;
}

[class^="table-"] th._width-2,
[class^="table-"] td._width-2,
[class*=" table-"] th._width-2,
[class*=" table-"] td._width-2 {
  width: 2em;
}

[class^="table-"] th._width-4,
[class^="table-"] td._width-4,
[class*=" table-"] th._width-4,
[class*=" table-"] td._width-4 {
  width: 4em;
}

[class^="table-"] th._width-6,
[class^="table-"] td._width-6,
[class*=" table-"] th._width-6,
[class*=" table-"] td._width-6 {
  width: 6em;
}

[class^="table-"] th._width-8,
[class^="table-"] td._width-8,
[class*=" table-"] th._width-8,
[class*=" table-"] td._width-8 {
  width: 8em;
}

[class^="table-"] th._width-10,
[class^="table-"] td._width-10,
[class*=" table-"] th._width-10,
[class*=" table-"] td._width-10 {
  width: 10em;
}

[class^="table-"] th._width-12,
[class^="table-"] td._width-12,
[class*=" table-"] th._width-12,
[class*=" table-"] td._width-12 {
  width: 12em;
}

[class^="table-"] th._width-14,
[class^="table-"] td._width-14,
[class*=" table-"] th._width-14,
[class*=" table-"] td._width-14 {
  width: 14em;
}

[class^="table-"] th._width-16,
[class^="table-"] td._width-16,
[class*=" table-"] th._width-16,
[class*=" table-"] td._width-16 {
  width: 16em;
}

[class^="table-"] th._width-18,
[class^="table-"] td._width-18,
[class*=" table-"] th._width-18,
[class*=" table-"] td._width-18 {
  width: 18em;
}

[class^="table-"] th._width-20,
[class^="table-"] td._width-20,
[class*=" table-"] th._width-20,
[class*=" table-"] td._width-20 {
  width: 20em;
}

.hr-color-default {
  border-top-color: #dde0e3;
}

.hr-color-inverse {
  border-top-color: #fff;
}

.hr-color-primary {
  border-top-color: #4dbebe;
}

.hr-type-solid {
  border-top-style: solid;
}

.hr-type-dotted {
  border-top-style: dotted;
}

.hr-type-dashed {
  border-top-style: dashed;
}

.hr-type-double {
  border-top-style: double;
  border-top-width: 3px;
}

[class^="panel-"],
[class*=" panel-"] {
  background-color: #fff;
  border: 1px solid #f3f4f5;
  margin-bottom: 1em;
  margin-top: 1em;
}

[class^="panel-"] > ._header,
[class*=" panel-"] > ._header {
  background-color: #f3f4f5;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
}

[class^="panel-"] > ._content,
[class*=" panel-"] > ._content {
  padding-left: 15px;
  padding-right: 15px;
}

.panel-default {
  border-color: #373d43;
}

.panel-default > ._header {
  background-color: #373d43;
}

.panel-default > ._header > ._title {
  color: #fff;
}

.panel-primary {
  border-color: #4dbebe;
}

.panel-primary > ._header {
  background-color: #4dbebe;
}

.panel-primary > ._header > ._title {
  color: #fff;
}

.panel-secondary {
  border-color: #c6168d;
}

.panel-secondary > ._header {
  background-color: #c6168d;
}

.panel-secondary > ._header > ._title {
  color: #fff;
}

.panel-accent {
  border-color: #f44336;
}

.panel-accent > ._header {
  background-color: #f44336;
}

.panel-accent > ._header > ._title {
  color: #fff;
}

[class^="label-"],
[class*=" label-"] {
  background-color: #f3f4f5;
  border: 1px solid transparent;
  color: #373d43;
  display: inline-block;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
}

.label-default {
  background-color: #373d43;
  color: #fff;
}

.label-inverse {
  background-color: #fff;
  color: #373d43;
}

.label-primary {
  background-color: #4dbebe;
  color: #fff;
}

.label-secondary {
  background-color: #c6168d;
  color: #fff;
}

.label-accent {
  background-color: #f44336;
  color: #fff;
}

.label-outline-default {
  background-color: transparent;
  border-color: #373d43;
  color: #373d43;
}

.label-outline-inverse {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.label-outline-primary {
  background-color: transparent;
  border-color: #4dbebe;
  color: #4dbebe;
}

.label-outline-secondary {
  background-color: transparent;
  border-color: #c6168d;
  color: #c6168d;
}

.label-outline-accent {
  background-color: transparent;
  border-color: #f44336;
  color: #f44336;
}

.label-size-small {
  font-size: 0.9em;
}

.label-size-medium {
  font-size: 1em;
}

.label-size-large {
  font-size: 1.25em;
}

[class^="grid"],
[class*=" grid"] {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

[class^="grid"] > *,
[class*=" grid"] > * {
  width: 100%;
}

[class^="grid"] > [class^="card-"], [class^="grid"] > [class*=" card-"],
[class^="grid"][class^="list-"] > *,
[class^="grid"][class*=" list-"] > *,
[class*=" grid"] > [class^="card-"],
[class*=" grid"] > [class*=" card-"],
[class*=" grid"][class^="list-"] > *,
[class*=" grid"][class*=" list-"] > * {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

[class^="grid"] > ._item,
[class*=" grid"] > ._item {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.grid-1 > ._item {
  width: 100%;
}

.grid-1 > [class^="card-"], .grid-1 > [class*=" card-"],
.grid-1[class^="list-"] > *,
.grid-1[class*=" list"] > * {
  width: calc(100% - 15px);
}

.grid-2 > ._item {
  width: 50%;
}

.grid-2 > [class^="card-"], .grid-2 > [class*=" card-"],
.grid-2[class^="list-"] > *,
.grid-2[class*=" list"] > * {
  width: calc(50% - 15px);
}

.grid-3 > ._item {
  width: 33.33333%;
}

.grid-3 > [class^="card-"], .grid-3 > [class*=" card-"],
.grid-3[class^="list-"] > *,
.grid-3[class*=" list"] > * {
  width: calc(33.33333% - 15px);
}

.grid-4 > ._item {
  width: 25%;
}

.grid-4 > [class^="card-"], .grid-4 > [class*=" card-"],
.grid-4[class^="list-"] > *,
.grid-4[class*=" list"] > * {
  width: calc(25% - 15px);
}

.grid-5 > ._item {
  width: 20%;
}

.grid-5 > [class^="card-"], .grid-5 > [class*=" card-"],
.grid-5[class^="list-"] > *,
.grid-5[class*=" list"] > * {
  width: calc(20% - 15px);
}

.grid-6 > ._item {
  width: 16.66667%;
}

.grid-6 > [class^="card-"], .grid-6 > [class*=" card-"],
.grid-6[class^="list-"] > *,
.grid-6[class*=" list"] > * {
  width: calc(16.66667% - 15px);
}

.grid-7 > ._item {
  width: 14.28571%;
}

.grid-7 > [class^="card-"], .grid-7 > [class*=" card-"],
.grid-7[class^="list-"] > *,
.grid-7[class*=" list"] > * {
  width: calc(14.28571% - 15px);
}

.grid-8 > ._item {
  width: 12.5%;
}

.grid-8 > [class^="card-"], .grid-8 > [class*=" card-"],
.grid-8[class^="list-"] > *,
.grid-8[class*=" list"] > * {
  width: calc(12.5% - 15px);
}

.grid-9 > ._item {
  width: 11.11111%;
}

.grid-9 > [class^="card-"], .grid-9 > [class*=" card-"],
.grid-9[class^="list-"] > *,
.grid-9[class*=" list"] > * {
  width: calc(11.11111% - 15px);
}

.grid-10 > ._item {
  width: 10%;
}

.grid-10 > [class^="card-"], .grid-10 > [class*=" card-"],
.grid-10[class^="list-"] > *,
.grid-10[class*=" list"] > * {
  width: calc(10% - 15px);
}

.grid-11 > ._item {
  width: 9.09091%;
}

.grid-11 > [class^="card-"], .grid-11 > [class*=" card-"],
.grid-11[class^="list-"] > *,
.grid-11[class*=" list"] > * {
  width: calc(9.09091% - 15px);
}

.grid-12 > ._item {
  width: 8.33333%;
}

.grid-12 > [class^="card-"], .grid-12 > [class*=" card-"],
.grid-12[class^="list-"] > *,
.grid-12[class*=" list"] > * {
  width: calc(8.33333% - 15px);
}

@media (min-width: 576px) {
  .grid-sm-1 > ._item {
    width: 100%;
  }
  .grid-sm-1 > [class^="card-"], .grid-sm-1 > [class*=" card-"],
  .grid-sm-1[class^="list-"] > *,
  .grid-sm-1[class*=" list"] > * {
    width: calc(100% - 15px);
  }
  .grid-sm-2 > ._item {
    width: 50%;
  }
  .grid-sm-2 > [class^="card-"], .grid-sm-2 > [class*=" card-"],
  .grid-sm-2[class^="list-"] > *,
  .grid-sm-2[class*=" list"] > * {
    width: calc(50% - 15px);
  }
  .grid-sm-3 > ._item {
    width: 33.33333%;
  }
  .grid-sm-3 > [class^="card-"], .grid-sm-3 > [class*=" card-"],
  .grid-sm-3[class^="list-"] > *,
  .grid-sm-3[class*=" list"] > * {
    width: calc(33.33333% - 15px);
  }
  .grid-sm-4 > ._item {
    width: 25%;
  }
  .grid-sm-4 > [class^="card-"], .grid-sm-4 > [class*=" card-"],
  .grid-sm-4[class^="list-"] > *,
  .grid-sm-4[class*=" list"] > * {
    width: calc(25% - 15px);
  }
  .grid-sm-5 > ._item {
    width: 20%;
  }
  .grid-sm-5 > [class^="card-"], .grid-sm-5 > [class*=" card-"],
  .grid-sm-5[class^="list-"] > *,
  .grid-sm-5[class*=" list"] > * {
    width: calc(20% - 15px);
  }
  .grid-sm-6 > ._item {
    width: 16.66667%;
  }
  .grid-sm-6 > [class^="card-"], .grid-sm-6 > [class*=" card-"],
  .grid-sm-6[class^="list-"] > *,
  .grid-sm-6[class*=" list"] > * {
    width: calc(16.66667% - 15px);
  }
  .grid-sm-7 > ._item {
    width: 14.28571%;
  }
  .grid-sm-7 > [class^="card-"], .grid-sm-7 > [class*=" card-"],
  .grid-sm-7[class^="list-"] > *,
  .grid-sm-7[class*=" list"] > * {
    width: calc(14.28571% - 15px);
  }
  .grid-sm-8 > ._item {
    width: 12.5%;
  }
  .grid-sm-8 > [class^="card-"], .grid-sm-8 > [class*=" card-"],
  .grid-sm-8[class^="list-"] > *,
  .grid-sm-8[class*=" list"] > * {
    width: calc(12.5% - 15px);
  }
  .grid-sm-9 > ._item {
    width: 11.11111%;
  }
  .grid-sm-9 > [class^="card-"], .grid-sm-9 > [class*=" card-"],
  .grid-sm-9[class^="list-"] > *,
  .grid-sm-9[class*=" list"] > * {
    width: calc(11.11111% - 15px);
  }
  .grid-sm-10 > ._item {
    width: 10%;
  }
  .grid-sm-10 > [class^="card-"], .grid-sm-10 > [class*=" card-"],
  .grid-sm-10[class^="list-"] > *,
  .grid-sm-10[class*=" list"] > * {
    width: calc(10% - 15px);
  }
  .grid-sm-11 > ._item {
    width: 9.09091%;
  }
  .grid-sm-11 > [class^="card-"], .grid-sm-11 > [class*=" card-"],
  .grid-sm-11[class^="list-"] > *,
  .grid-sm-11[class*=" list"] > * {
    width: calc(9.09091% - 15px);
  }
  .grid-sm-12 > ._item {
    width: 8.33333%;
  }
  .grid-sm-12 > [class^="card-"], .grid-sm-12 > [class*=" card-"],
  .grid-sm-12[class^="list-"] > *,
  .grid-sm-12[class*=" list"] > * {
    width: calc(8.33333% - 15px);
  }
}

@media (min-width: 768px) {
  .grid-md-1 > ._item {
    width: 100%;
  }
  .grid-md-1 > [class^="card-"], .grid-md-1 > [class*=" card-"],
  .grid-md-1[class^="list-"] > *,
  .grid-md-1[class*=" list"] > * {
    width: calc(100% - 15px);
  }
  .grid-md-2 > ._item {
    width: 50%;
  }
  .grid-md-2 > [class^="card-"], .grid-md-2 > [class*=" card-"],
  .grid-md-2[class^="list-"] > *,
  .grid-md-2[class*=" list"] > * {
    width: calc(50% - 15px);
  }
  .grid-md-3 > ._item {
    width: 33.33333%;
  }
  .grid-md-3 > [class^="card-"], .grid-md-3 > [class*=" card-"],
  .grid-md-3[class^="list-"] > *,
  .grid-md-3[class*=" list"] > * {
    width: calc(33.33333% - 15px);
  }
  .grid-md-4 > ._item {
    width: 25%;
  }
  .grid-md-4 > [class^="card-"], .grid-md-4 > [class*=" card-"],
  .grid-md-4[class^="list-"] > *,
  .grid-md-4[class*=" list"] > * {
    width: calc(25% - 15px);
  }
  .grid-md-5 > ._item {
    width: 20%;
  }
  .grid-md-5 > [class^="card-"], .grid-md-5 > [class*=" card-"],
  .grid-md-5[class^="list-"] > *,
  .grid-md-5[class*=" list"] > * {
    width: calc(20% - 15px);
  }
  .grid-md-6 > ._item {
    width: 16.66667%;
  }
  .grid-md-6 > [class^="card-"], .grid-md-6 > [class*=" card-"],
  .grid-md-6[class^="list-"] > *,
  .grid-md-6[class*=" list"] > * {
    width: calc(16.66667% - 15px);
  }
  .grid-md-7 > ._item {
    width: 14.28571%;
  }
  .grid-md-7 > [class^="card-"], .grid-md-7 > [class*=" card-"],
  .grid-md-7[class^="list-"] > *,
  .grid-md-7[class*=" list"] > * {
    width: calc(14.28571% - 15px);
  }
  .grid-md-8 > ._item {
    width: 12.5%;
  }
  .grid-md-8 > [class^="card-"], .grid-md-8 > [class*=" card-"],
  .grid-md-8[class^="list-"] > *,
  .grid-md-8[class*=" list"] > * {
    width: calc(12.5% - 15px);
  }
  .grid-md-9 > ._item {
    width: 11.11111%;
  }
  .grid-md-9 > [class^="card-"], .grid-md-9 > [class*=" card-"],
  .grid-md-9[class^="list-"] > *,
  .grid-md-9[class*=" list"] > * {
    width: calc(11.11111% - 15px);
  }
  .grid-md-10 > ._item {
    width: 10%;
  }
  .grid-md-10 > [class^="card-"], .grid-md-10 > [class*=" card-"],
  .grid-md-10[class^="list-"] > *,
  .grid-md-10[class*=" list"] > * {
    width: calc(10% - 15px);
  }
  .grid-md-11 > ._item {
    width: 9.09091%;
  }
  .grid-md-11 > [class^="card-"], .grid-md-11 > [class*=" card-"],
  .grid-md-11[class^="list-"] > *,
  .grid-md-11[class*=" list"] > * {
    width: calc(9.09091% - 15px);
  }
  .grid-md-12 > ._item {
    width: 8.33333%;
  }
  .grid-md-12 > [class^="card-"], .grid-md-12 > [class*=" card-"],
  .grid-md-12[class^="list-"] > *,
  .grid-md-12[class*=" list"] > * {
    width: calc(8.33333% - 15px);
  }
}

@media (min-width: 992px) {
  .grid-lg-1 > ._item {
    width: 100%;
  }
  .grid-lg-1 > [class^="card-"], .grid-lg-1 > [class*=" card-"],
  .grid-lg-1[class^="list-"] > *,
  .grid-lg-1[class*=" list"] > * {
    width: calc(100% - 15px);
  }
  .grid-lg-2 > ._item {
    width: 50%;
  }
  .grid-lg-2 > [class^="card-"], .grid-lg-2 > [class*=" card-"],
  .grid-lg-2[class^="list-"] > *,
  .grid-lg-2[class*=" list"] > * {
    width: calc(50% - 15px);
  }
  .grid-lg-3 > ._item {
    width: 33.33333%;
  }
  .grid-lg-3 > [class^="card-"], .grid-lg-3 > [class*=" card-"],
  .grid-lg-3[class^="list-"] > *,
  .grid-lg-3[class*=" list"] > * {
    width: calc(33.33333% - 15px);
  }
  .grid-lg-4 > ._item {
    width: 25%;
  }
  .grid-lg-4 > [class^="card-"], .grid-lg-4 > [class*=" card-"],
  .grid-lg-4[class^="list-"] > *,
  .grid-lg-4[class*=" list"] > * {
    width: calc(25% - 15px);
  }
  .grid-lg-5 > ._item {
    width: 20%;
  }
  .grid-lg-5 > [class^="card-"], .grid-lg-5 > [class*=" card-"],
  .grid-lg-5[class^="list-"] > *,
  .grid-lg-5[class*=" list"] > * {
    width: calc(20% - 15px);
  }
  .grid-lg-6 > ._item {
    width: 16.66667%;
  }
  .grid-lg-6 > [class^="card-"], .grid-lg-6 > [class*=" card-"],
  .grid-lg-6[class^="list-"] > *,
  .grid-lg-6[class*=" list"] > * {
    width: calc(16.66667% - 15px);
  }
  .grid-lg-7 > ._item {
    width: 14.28571%;
  }
  .grid-lg-7 > [class^="card-"], .grid-lg-7 > [class*=" card-"],
  .grid-lg-7[class^="list-"] > *,
  .grid-lg-7[class*=" list"] > * {
    width: calc(14.28571% - 15px);
  }
  .grid-lg-8 > ._item {
    width: 12.5%;
  }
  .grid-lg-8 > [class^="card-"], .grid-lg-8 > [class*=" card-"],
  .grid-lg-8[class^="list-"] > *,
  .grid-lg-8[class*=" list"] > * {
    width: calc(12.5% - 15px);
  }
  .grid-lg-9 > ._item {
    width: 11.11111%;
  }
  .grid-lg-9 > [class^="card-"], .grid-lg-9 > [class*=" card-"],
  .grid-lg-9[class^="list-"] > *,
  .grid-lg-9[class*=" list"] > * {
    width: calc(11.11111% - 15px);
  }
  .grid-lg-10 > ._item {
    width: 10%;
  }
  .grid-lg-10 > [class^="card-"], .grid-lg-10 > [class*=" card-"],
  .grid-lg-10[class^="list-"] > *,
  .grid-lg-10[class*=" list"] > * {
    width: calc(10% - 15px);
  }
  .grid-lg-11 > ._item {
    width: 9.09091%;
  }
  .grid-lg-11 > [class^="card-"], .grid-lg-11 > [class*=" card-"],
  .grid-lg-11[class^="list-"] > *,
  .grid-lg-11[class*=" list"] > * {
    width: calc(9.09091% - 15px);
  }
  .grid-lg-12 > ._item {
    width: 8.33333%;
  }
  .grid-lg-12 > [class^="card-"], .grid-lg-12 > [class*=" card-"],
  .grid-lg-12[class^="list-"] > *,
  .grid-lg-12[class*=" list"] > * {
    width: calc(8.33333% - 15px);
  }
}

@media (min-width: 1200px) {
  .grid-xl-1 > ._item {
    width: 100%;
  }
  .grid-xl-1 > [class^="card-"], .grid-xl-1 > [class*=" card-"],
  .grid-xl-1[class^="list-"] > *,
  .grid-xl-1[class*=" list"] > * {
    width: calc(100% - 15px);
  }
  .grid-xl-2 > ._item {
    width: 50%;
  }
  .grid-xl-2 > [class^="card-"], .grid-xl-2 > [class*=" card-"],
  .grid-xl-2[class^="list-"] > *,
  .grid-xl-2[class*=" list"] > * {
    width: calc(50% - 15px);
  }
  .grid-xl-3 > ._item {
    width: 33.33333%;
  }
  .grid-xl-3 > [class^="card-"], .grid-xl-3 > [class*=" card-"],
  .grid-xl-3[class^="list-"] > *,
  .grid-xl-3[class*=" list"] > * {
    width: calc(33.33333% - 15px);
  }
  .grid-xl-4 > ._item {
    width: 25%;
  }
  .grid-xl-4 > [class^="card-"], .grid-xl-4 > [class*=" card-"],
  .grid-xl-4[class^="list-"] > *,
  .grid-xl-4[class*=" list"] > * {
    width: calc(25% - 15px);
  }
  .grid-xl-5 > ._item {
    width: 20%;
  }
  .grid-xl-5 > [class^="card-"], .grid-xl-5 > [class*=" card-"],
  .grid-xl-5[class^="list-"] > *,
  .grid-xl-5[class*=" list"] > * {
    width: calc(20% - 15px);
  }
  .grid-xl-6 > ._item {
    width: 16.66667%;
  }
  .grid-xl-6 > [class^="card-"], .grid-xl-6 > [class*=" card-"],
  .grid-xl-6[class^="list-"] > *,
  .grid-xl-6[class*=" list"] > * {
    width: calc(16.66667% - 15px);
  }
  .grid-xl-7 > ._item {
    width: 14.28571%;
  }
  .grid-xl-7 > [class^="card-"], .grid-xl-7 > [class*=" card-"],
  .grid-xl-7[class^="list-"] > *,
  .grid-xl-7[class*=" list"] > * {
    width: calc(14.28571% - 15px);
  }
  .grid-xl-8 > ._item {
    width: 12.5%;
  }
  .grid-xl-8 > [class^="card-"], .grid-xl-8 > [class*=" card-"],
  .grid-xl-8[class^="list-"] > *,
  .grid-xl-8[class*=" list"] > * {
    width: calc(12.5% - 15px);
  }
  .grid-xl-9 > ._item {
    width: 11.11111%;
  }
  .grid-xl-9 > [class^="card-"], .grid-xl-9 > [class*=" card-"],
  .grid-xl-9[class^="list-"] > *,
  .grid-xl-9[class*=" list"] > * {
    width: calc(11.11111% - 15px);
  }
  .grid-xl-10 > ._item {
    width: 10%;
  }
  .grid-xl-10 > [class^="card-"], .grid-xl-10 > [class*=" card-"],
  .grid-xl-10[class^="list-"] > *,
  .grid-xl-10[class*=" list"] > * {
    width: calc(10% - 15px);
  }
  .grid-xl-11 > ._item {
    width: 9.09091%;
  }
  .grid-xl-11 > [class^="card-"], .grid-xl-11 > [class*=" card-"],
  .grid-xl-11[class^="list-"] > *,
  .grid-xl-11[class*=" list"] > * {
    width: calc(9.09091% - 15px);
  }
  .grid-xl-12 > ._item {
    width: 8.33333%;
  }
  .grid-xl-12 > [class^="card-"], .grid-xl-12 > [class*=" card-"],
  .grid-xl-12[class^="list-"] > *,
  .grid-xl-12[class*=" list"] > * {
    width: calc(8.33333% - 15px);
  }
}

.grid > ._item-1 {
  width: 8.33333%;
}

.grid > ._item-2 {
  width: 16.66667%;
}

.grid > ._item-3 {
  width: 25%;
}

.grid > ._item-4 {
  width: 33.33333%;
}

.grid > ._item-5 {
  width: 41.66667%;
}

.grid > ._item-6 {
  width: 50%;
}

.grid > ._item-7 {
  width: 58.33333%;
}

.grid > ._item-8 {
  width: 66.66667%;
}

.grid > ._item-9 {
  width: 75%;
}

.grid > ._item-10 {
  width: 83.33333%;
}

.grid > ._item-11 {
  width: 91.66667%;
}

.grid > ._item-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .grid > ._item-sm-1 {
    width: 8.33333%;
  }
  .grid > ._item-sm-2 {
    width: 16.66667%;
  }
  .grid > ._item-sm-3 {
    width: 25%;
  }
  .grid > ._item-sm-4 {
    width: 33.33333%;
  }
  .grid > ._item-sm-5 {
    width: 41.66667%;
  }
  .grid > ._item-sm-6 {
    width: 50%;
  }
  .grid > ._item-sm-7 {
    width: 58.33333%;
  }
  .grid > ._item-sm-8 {
    width: 66.66667%;
  }
  .grid > ._item-sm-9 {
    width: 75%;
  }
  .grid > ._item-sm-10 {
    width: 83.33333%;
  }
  .grid > ._item-sm-11 {
    width: 91.66667%;
  }
  .grid > ._item-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .grid > ._item-md-1 {
    width: 8.33333%;
  }
  .grid > ._item-md-2 {
    width: 16.66667%;
  }
  .grid > ._item-md-3 {
    width: 25%;
  }
  .grid > ._item-md-4 {
    width: 33.33333%;
  }
  .grid > ._item-md-5 {
    width: 41.66667%;
  }
  .grid > ._item-md-6 {
    width: 50%;
  }
  .grid > ._item-md-7 {
    width: 58.33333%;
  }
  .grid > ._item-md-8 {
    width: 66.66667%;
  }
  .grid > ._item-md-9 {
    width: 75%;
  }
  .grid > ._item-md-10 {
    width: 83.33333%;
  }
  .grid > ._item-md-11 {
    width: 91.66667%;
  }
  .grid > ._item-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .grid > ._item-lg-1 {
    width: 8.33333%;
  }
  .grid > ._item-lg-2 {
    width: 16.66667%;
  }
  .grid > ._item-lg-3 {
    width: 25%;
  }
  .grid > ._item-lg-4 {
    width: 33.33333%;
  }
  .grid > ._item-lg-5 {
    width: 41.66667%;
  }
  .grid > ._item-lg-6 {
    width: 50%;
  }
  .grid > ._item-lg-7 {
    width: 58.33333%;
  }
  .grid > ._item-lg-8 {
    width: 66.66667%;
  }
  .grid > ._item-lg-9 {
    width: 75%;
  }
  .grid > ._item-lg-10 {
    width: 83.33333%;
  }
  .grid > ._item-lg-11 {
    width: 91.66667%;
  }
  .grid > ._item-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid > ._item-xl-1 {
    width: 8.33333%;
  }
  .grid > ._item-xl-2 {
    width: 16.66667%;
  }
  .grid > ._item-xl-3 {
    width: 25%;
  }
  .grid > ._item-xl-4 {
    width: 33.33333%;
  }
  .grid > ._item-xl-5 {
    width: 41.66667%;
  }
  .grid > ._item-xl-6 {
    width: 50%;
  }
  .grid > ._item-xl-7 {
    width: 58.33333%;
  }
  .grid > ._item-xl-8 {
    width: 66.66667%;
  }
  .grid > ._item-xl-9 {
    width: 75%;
  }
  .grid > ._item-xl-10 {
    width: 83.33333%;
  }
  .grid > ._item-xl-11 {
    width: 91.66667%;
  }
  .grid > ._item-xl-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .align-left {
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .align-center {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .align-right {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .float-left {
    float: left;
    margin-right: 30px;
  }
  .float-left > * {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .float-right {
    float: right;
    margin-left: 30px;
  }
  .float-right > * {
    margin-top: 0;
  }
}

.space-mt-m1 {
  margin-top: -1em;
}

.space-mt-m2 {
  margin-top: -2em;
}

.space-mt-m3 {
  margin-top: -3em;
}

.space-mt-m4 {
  margin-top: -4em;
}

.space-mb-m1 {
  margin-bottom: -1em;
}

.space-mb-m2 {
  margin-bottom: -2em;
}

.space-mb-m3 {
  margin-bottom: -3em;
}

.space-mb-m4 {
  margin-bottom: -4em;
}

.space-mt-p1 {
  margin-top: 1em;
}

.space-mt-p2 {
  margin-top: 2em;
}

.space-mt-p3 {
  margin-top: 3em;
}

.space-mt-p4 {
  margin-top: 4em;
}

.space-mb-p1 {
  margin-bottom: 1em;
}

.space-mb-p2 {
  margin-bottom: 2em;
}

.space-mb-p3 {
  margin-bottom: 3em;
}

.space-mb-p4 {
  margin-bottom: 4em;
}

.space-pt-1 {
  padding-top: 1em;
}

.space-pt-2 {
  padding-top: 2em;
}

.space-pt-3 {
  padding-top: 3em;
}

.space-pt-4 {
  padding-top: 4em;
}

.space-pb-1 {
  padding-bottom: 1em;
}

.space-pb-2 {
  padding-bottom: 2em;
}

.space-pb-3 {
  padding-bottom: 3em;
}

.space-pb-4 {
  padding-bottom: 4em;
}

.dev-h2 {
  background: #373d43;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.5em 15px;
}

.dev-h3 {
  background: #dde0e3;
  color: #373d43;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.5em 15px;
}

.dev-h4 {
  background: #f3f4f5;
  color: #373d43;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.5em 15px;
}

.dev-checkerTextarea {
  border: 2px solid #dde0e3;
  font-family: "Menlo", "Lucida Console", monospace;
  font-size: 1.2rem;
  line-height: 1.34;
  margin-bottom: 1em;
  margin-top: 1em;
  min-height: 320px;
  outline: none;
  padding: 7.5px;
  width: 100%;
}

.dev-clipboard {
  background-color: #5b6670;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0 .5em;
}

.dev-secret {
  display: none;
}

.dev-developerMode {
  background-color: #121416;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
}

.dev-developerMode:active {
  opacity: .4;
}

.dev-printBreak {
  page-break-before: always;
}

.l-header {
  background-color: #fff;
  color: #383c3b;
}

.closeMenu_btn {
  display: flex;
  justify-content: flex-end;
  z-index: 500;
  cursor: pointer;
  cursor: hand;
  visibility: hidden;
}

.closeMenu_btn:before {
  content: "\E213";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  margin: 15px 15px 15px 0;
}

.closeMenu_btn.is-active {
  visibility: visible;
}

ul.drawerMenu {
  list-style-type: none;
  position: fixed;
  background-color: #f7f4f0;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: #6b6867;
  z-index: 400;
  padding: 0;
  margin: 0;
  display: none;
  left: 0;
}

ul.drawerMenu.is-active {
  left: 0;
  display: block;
}

ul.drawerMenu > p {
  display: none;
}

ul.drawerMenu .dropdwn_list p {
  font-size: 19px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  cursor: hand;
}

ul.drawerMenu .dropdwn_list p:after {
  content: "\E206";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}

ul.drawerMenu .closeMenu1 {
  background-color: #383c3b;
}

ul.drawerMenu .closeMenu2 {
  padding: 15px;
  background-color: #383c3b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
}

ul.drawerMenu .closeMenu2:before {
  content: "\E213";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}

ul.drawerMenu .closeMenu2 p {
  padding: 0 0 0 15px;
  cursor: pointer;
  cursor: hand;
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

ul.drawerMenu .ogsSite {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #cbc9c4;
}

ul.drawerMenu .ogsSite:before {
  content: "\E210";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
  color: #c6168d;
}

ul.drawerMenu .ogsSite p {
  border-top: none;
  padding: 10px 0;
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 1.7px;
}

ul.drawerMenu .ogsSite p:after {
  display: none;
}

ul.drawerMenu > li {
  list-style-type: none;
  border-top: solid 1px #cbc9c4;
  margin: 0 0 0 1px;
}

ul.drawerMenu > li .dropdwn_menu {
  background-color: #fff;
  padding: 0;
  display: none;
}

ul.drawerMenu > li .dropdwn_menu.is-active {
  display: block;
}

ul.drawerMenu > li .dropdwn_menu li {
  width: 100%;
  padding: 0 10px;
  margin: auto;
  list-style-type: none;
}

ul.drawerMenu > li .dropdwn_menu li p {
  font-size: 13px;
  color: #6b6867;
  border-top: solid 1px #cbc9c4;
  justify-content: flex-start;
}

ul.drawerMenu > li .dropdwn_menu li p:before {
  content: "\E206";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 0 0;
}

ul.drawerMenu > li .dropdwn_menu li p:after {
  content: "\E206";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  display: none;
  justify-content: flex-start;
}

ul.drawerMenu > li a {
  text-decoration: none;
  color: #6b6867;
}

ul.drawerMenu > li a > p {
  font-size: 19px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

ul.drawerMenu > li a > p:after {
  content: "\E206";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}

.globalContainer {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 300;
}

@media (min-width: 576px) {
  .globalContainer {
    position: relative;
  }
}

.globalContainer .subMenuPc {
  display: none;
}

@media (min-width: 576px) {
  .globalContainer .subMenuPc {
    display: block;
  }
}

.globalContainer .subMenuPc > ._pc {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .globalContainer .subMenuPc > ._pc {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .globalContainer .subMenuPc > ._pc {
    margin: 0 0 0 40%;
    justify-content: center;
  }
}

.globalContainer .subMenuPc > ._pc a:nth-child(3) {
  border-right: solid 1px #e3dfdb;
}

.globalContainer .subMenuPc > ._pc a {
  text-decoration: none;
  color: #383c3b;
  border-left: solid 1px #e3dfdb;
  border-bottom: solid 1px #e3dfdb;
  background-color: #fff;
}

.globalContainer .subMenuPc > ._pc a:hover {
  background-color: #f3f4f5;
}

.globalContainer .subMenuPc > ._pc a p {
  margin: 10px 20px;
  color: #7e7b78;
  font-size: 13px;
}

.globalContainer .subMenuPc > ._pc a > ._Item01 {
  display: flex;
  justify-content: center;
}

.globalContainer .subMenuPc > ._pc a > ._Item01:before {
  content: "\E210";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
  margin: 0 6px 0 0;
  color: #c6168d;
}

.globalContainer .subMenuPc > ._pc a > ._Item02 {
  display: flex;
  justify-content: center;
}

.globalContainer .subMenuPc > ._pc a > ._Item02:before {
  content: "\E211";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin: 0 12px 0 0;
  font-size: 20px;
}

.globalContainer .subMenuPc > ._pc a > ._Item03 {
  display: flex;
  justify-content: center;
}

.globalContainer .subMenuPc > ._pc a > ._Item03:before {
  content: "\E212";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin: 0 12px 0 0;
  font-size: 20px;
}

.globalContainer .globalMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .globalContainer .globalMenu {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.globalContainer .globalMenu h1 {
  min-width: 93px;
  width: 93px;
  margin: 15px;
}

@media (min-width: 576px) {
  .globalContainer .globalMenu h1 {
    width: 149px;
    max-width: 149px;
    margin: 10px 25px 35px 25px;
  }
}

@media (min-width: 992px) {
  .globalContainer .globalMenu h1 {
    width: 149px;
    max-width: 149px;
    margin: 10px 50px 35px 100px;
  }
}

.globalContainer .globalMenu h1 a {
  display: inline-block;
  transition: all 0.2s ease 0s;
}

.globalContainer .globalMenu h1 a:hover {
  opacity: 0.6;
}

.globalContainer .globalMenu > ._menuPc {
  display: none;
}

@media (min-width: 576px) {
  .globalContainer .globalMenu > ._menuPc {
    width: calc(100% - 300px);
    display: block;
  }
}

.globalContainer .globalMenu > ._menuPc p {
  display: inline-block;
  position: relative;
}

.globalContainer .globalMenu > ._menuPc p:hover:after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #c6168d;
  left: 40%;
  right: 50%;
  top: 36px;
  width: 29px;
}

@media (min-width: 992px) {
  .globalContainer .globalMenu > ._menuPc p:hover:after {
    top: 40px;
  }
}

.globalContainer .globalMenu > ._menuPc .menuPc_box {
  display: inline-block;
}

@media (min-width: 576px) {
  .globalContainer .globalMenu > ._menuPc .menuPc_box ul {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 20px 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: 992px) {
  .globalContainer .globalMenu > ._menuPc .menuPc_box ul {
    margin: 30px 20px 30px 0;
  }
}

.globalContainer .globalMenu > ._menuPc .menuPc_box ul li {
  max-width: 100%;
}

.globalContainer .globalMenu > ._menuPc .menuPc_box ul li a {
  text-decoration: none;
  color: #383c3b;
}

.globalContainer .globalMenu > ._menuPc .menuPc_box ul li a p {
  font-size: 18px;
  margin-left: 35px;
  font-weight: 300;
  line-height: 2.4em;
}

@media (min-width: 576px) {
  .globalContainer .globalMenu > ._menuPc .menuPc_box ul li a p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .globalContainer .globalMenu > ._menuPc .menuPc_box ul li a p {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .globalContainer .globalMenu > ._menuPc ul {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 20px 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: 992px) {
  .globalContainer .globalMenu > ._menuPc ul {
    margin: 30px 20px 30px 0;
  }
}

.globalContainer .globalMenu > ._menuPc ul li {
  max-width: 100%;
}

.globalContainer .globalMenu > ._menuPc ul li a {
  text-decoration: none;
  color: #383c3b;
}

.globalContainer .globalMenu > ._menuPc ul li a p {
  font-size: 18px;
  margin-left: 35px;
  font-weight: 300;
  line-height: 2.4em;
}

@media (min-width: 576px) {
  .globalContainer .globalMenu > ._menuPc ul li a p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .globalContainer .globalMenu > ._menuPc ul li a p {
    font-size: 18px;
  }
}

.globalContainer .globalMenu > ._menuSmp {
  display: block;
}

@media (min-width: 576px) {
  .globalContainer .globalMenu > ._menuSmp {
    display: none;
  }
}

.globalContainer .globalMenu > ._menuSmp ._itemList {
  display: flex;
  align-items: center;
}

.globalContainer .globalMenu > ._menuSmp ._itemList p {
  font-size: 10px;
}

.globalContainer .globalMenu > ._menuSmp ._itemList > ._item01 {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.globalContainer .globalMenu > ._menuSmp ._itemList > ._item01:after {
  font-size: 24px;
  margin: 5px;
  content: "\E212";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.globalContainer .globalMenu > ._menuSmp ._itemList > ._item02 {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  cursor: pointer;
  cursor: hand;
}

.globalContainer .globalMenu > ._menuSmp ._itemList > ._item02:after {
  font-size: 24px;
  margin: 5px;
  content: "\E207";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.l-main {
  margin-left: auto;
  margin-right: auto;
}

.l-main.theme-multi {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .l-main.theme-multi {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .l-main.theme-multi {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .l-main.theme-multi {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .l-main.theme-multi {
    width: 1140px;
  }
}

.l-footer {
  background-color: #383c3b;
  color: #e3dfdb;
  letter-spacing: 0.5px;
}

.l-footer .fxb-row {
  padding: 30px 0 25px 0;
}

@media (min-width: 768px) {
  .l-footer .fxb-row {
    padding: 90px 0 0 0;
  }
}

.footerMenu {
  padding: 0 20px 0 0;
}

.footerMenu p {
  color: #e3dfdb;
}

.footerMenu p:hover {
  color: #fff;
}

.footerMenu > ul {
  list-style: none;
  padding: 0 0 0 15px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .footerMenu > ul {
    font-size: 20px;
  }
}

.footerMenu > ul > li {
  display: none;
}

@media (min-width: 768px) {
  .footerMenu > ul > li {
    padding: 0 0 5px 17px;
    display: block;
    font-size: 14px;
  }
  .footerMenu > ul > li > a {
    text-decoration: none;
  }
}

.footerMenu > ul > a {
  text-decoration: none;
}

.footerMenu > ul > a > ._line {
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
}

@media (min-width: 768px) {
  .footerMenu > ul > a > ._line {
    margin: 0 0 20px 0;
  }
}

.footerMenu > ul > a > ._line:after {
  content: "";
  border-bottom: 1px solid #c6168d;
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  width: 22px;
}

@media (min-width: 768px) {
  .footerMenu > ul > a > ._line:after {
    top: 34px;
    width: 38px;
  }
}

@media (min-width: 992px) {
  .footerMenu > ul > a > ._line:after {
    top: 40px;
  }
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 0 0 60px 0;
  font-size: 9px;
}

@media (min-width: 768px) {
  .copyright {
    width: 100%;
    text-align: right;
    padding: 60px 100px 70px 0;
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .theme-multi .l-article {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .theme-multi .l-aside {
    width: 25%;
  }
}

body.is-active {
  width: 100%;
  height: 100%;
  left: 0;
  overflow-y: hidden;
}

.fxb-container,
.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .fxb-container,
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .fxb-container,
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .fxb-container,
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .fxb-container,
  .container {
    width: 1140px;
  }
}

.l-main.theme-multi .fxb-container, .l-main.theme-multi
.container {
  width: auto;
}

.fxb-container-fluid,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

.fxb-row,
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class^="fxb-col-"],
[class*=" fxb-col-"],
[class^="col-"],
[class*=" col-"] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

[class^="fxb-col-"]._cover-image,
[class*=" fxb-col-"]._cover-image,
[class^="col-"]._cover-image,
[class*=" col-"]._cover-image {
  min-height: 67vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  [class^="fxb-col-"]._cover-image,
  [class*=" fxb-col-"]._cover-image,
  [class^="col-"]._cover-image,
  [class*=" col-"]._cover-image {
    min-height: 0;
  }
}

@media (min-width: 768px) {
  [class^="fxb-col-"]._cover-content,
  [class*=" fxb-col-"]._cover-content,
  [class^="col-"]._cover-content,
  [class*=" col-"]._cover-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.fxb-col-1,
.col-1 {
  width: 8.33333%;
}

.fxb-col-2,
.col-2 {
  width: 16.66667%;
}

.fxb-col-3,
.col-3 {
  width: 25%;
}

.fxb-col-4,
.col-4 {
  width: 33.33333%;
}

.fxb-col-5,
.col-5 {
  width: 41.66667%;
}

.fxb-col-6,
.col-6 {
  width: 50%;
}

.fxb-col-7,
.col-7 {
  width: 58.33333%;
}

.fxb-col-8,
.col-8 {
  width: 66.66667%;
}

.fxb-col-9,
.col-9 {
  width: 75%;
}

.fxb-col-10,
.col-10 {
  width: 83.33333%;
}

.fxb-col-11,
.col-11 {
  width: 91.66667%;
}

.fxb-col-12,
.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .fxb-col-sm-1,
  .col-sm-1 {
    width: 8.33333%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-2,
  .col-sm-2 {
    width: 16.66667%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-3,
  .col-sm-3 {
    width: 25%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-4,
  .col-sm-4 {
    width: 33.33333%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-5,
  .col-sm-5 {
    width: 41.66667%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-6,
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-7,
  .col-sm-7 {
    width: 58.33333%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-8,
  .col-sm-8 {
    width: 66.66667%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-9,
  .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-10,
  .col-sm-10 {
    width: 83.33333%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-11,
  .col-sm-11 {
    width: 91.66667%;
  }
}

@media (min-width: 576px) {
  .fxb-col-sm-12,
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-1,
  .col-md-1 {
    width: 8.33333%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-2,
  .col-md-2 {
    width: 16.66667%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-3,
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-4,
  .col-md-4 {
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-5,
  .col-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-6,
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-7,
  .col-md-7 {
    width: 58.33333%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-8,
  .col-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-9,
  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-10,
  .col-md-10 {
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-11,
  .col-md-11 {
    width: 91.66667%;
  }
}

@media (min-width: 768px) {
  .fxb-col-md-12,
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-1,
  .col-lg-1 {
    width: 8.33333%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-2,
  .col-lg-2 {
    width: 16.66667%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-3,
  .col-lg-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-4,
  .col-lg-4 {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-5,
  .col-lg-5 {
    width: 41.66667%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-6,
  .col-lg-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-7,
  .col-lg-7 {
    width: 58.33333%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-8,
  .col-lg-8 {
    width: 66.66667%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-9,
  .col-lg-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-10,
  .col-lg-10 {
    width: 83.33333%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-11,
  .col-lg-11 {
    width: 91.66667%;
  }
}

@media (min-width: 992px) {
  .fxb-col-lg-12,
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-1,
  .col-xl-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-2,
  .col-xl-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-3,
  .col-xl-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-4,
  .col-xl-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-5,
  .col-xl-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-6,
  .col-xl-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-7,
  .col-xl-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-8,
  .col-xl-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-9,
  .col-xl-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-10,
  .col-xl-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-11,
  .col-xl-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .fxb-col-xl-12,
  .col-xl-12 {
    width: 100%;
  }
}

.topBanner {
  margin-top: 70px;
}

@media (min-width: 576px) {
  .topBanner {
    margin-top: 0;
  }
}

.topBanner .autoplay {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.topBanner .autoplay ._pcItem {
  visibility: hidden;
}

@media (min-width: 576px) {
  .topBanner .autoplay ._pcItem {
    visibility: visible;
  }
}

.topBanner .autoplay ._smpItem {
  visibility: visible;
}

@media (min-width: 576px) {
  .topBanner .autoplay ._smpItem {
    visibility: hidden;
  }
}

.topBanner .autoplay .slick_prev {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: 0 52px 0 0;
  overflow: visible;
}

.topBanner .autoplay .slick_prev:after {
  content: "\E208";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  background-color: rgba(102, 102, 102, 0.863);
  color: #fff;
  font-size: 32px;
  padding: 10px;
  visibility: visible;
  overflow: visible;
  border-right: #bebebe solid 1px;
  cursor: pointer;
}

.topBanner .autoplay .slick_prev:hover:after {
  background-color: #666666;
  color: #cecece;
}

.topBanner .autoplay .slick_next {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.topBanner .autoplay .slick_next:after {
  content: "\E209";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  font-size: 32px;
  padding: 10px;
  visibility: visible;
  background-color: rgba(102, 102, 102, 0.863);
  cursor: pointer;
}

.topBanner .autoplay .slick_next:hover:after {
  background-color: #666666;
  color: #cecece;
}

.topBanner .autoplay img {
  width: 100%;
  margin: 0 auto;
}

.topBanner > ._pcItem {
  display: none;
}

@media (min-width: 576px) {
  .topBanner > ._pcItem {
    display: block;
  }
}

.topBanner > ._smpItem {
  display: block;
}

@media (min-width: 576px) {
  .topBanner > ._smpItem {
    display: none;
  }
}

.secondaryBanner {
  padding: 0 0 15px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .secondaryBanner {
    margin: 30px 0;
    padding: 0;
    transition: all 0.2s ease 0s;
  }
  .secondaryBanner:hover {
    opacity: 0.8;
  }
}

.secondaryBanner a {
  display: inline-block;
  width: 100%;
}

.secondaryBanner a > img {
  width: 100%;
}

.secondaryBannerFirst {
  margin: 15px 0 0 0;
}

@media (min-width: 768px) {
  .secondaryBannerFirst {
    margin: 30px 0;
  }
}

.fxb-productDescription {
  background-color: #121e36;
  color: #fff;
}

.oticon > img {
  padding: 20px 50px 0 0;
}

@media (min-width: 576px) {
  .oticon > img {
    padding: 100px 0 0 0;
  }
}

@media (min-width: 768px) {
  .oticon > img {
    padding: 20px 30px 0 0;
    transition: all 0.5s ease 0s;
  }
  .oticon > img:hover {
    transform: translateY(-0.5em);
  }
}

@media (min-width: 992px) {
  .oticon > img {
    padding: 10px 30px 0 0;
  }
}

.peopleFirst {
  width: 100%;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .peopleFirst {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.peopleFirst > ._title {
  padding: 20px 0 0 0;
  max-width: 198px;
}

@media (min-width: 768px) {
  .peopleFirst > ._title {
    padding: 80px 0 0 0;
    max-width: 1000px;
  }
}

.peopleFirst > ._text01 {
  font-size: 15px;
  padding: 10px 0 0 0;
}

@media (min-width: 768px) {
  .peopleFirst > ._text01 {
    font-size: 19px;
  }
}

.peopleFirst > ._text02 {
  padding: 26px 0 30px 0;
  max-width: 185px;
  font-size: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .peopleFirst > ._text02 {
    padding: 26px 0 37px 0;
    max-width: 1000px;
    font-size: 20px;
  }
}

.peopleFirst > ._text03 {
  max-width: 1000px;
  padding: 0 0 66px 0;
  margin: 0;
  font-size: 15px;
}

@media (min-width: 768px) {
  .peopleFirst > ._text03 {
    padding: 0 0 94px 0;
    max-width: 1000px;
  }
}

.fxb-latestInformation {
  padding: 40px 0;
}

.latestNewsHeader > ._title {
  color: #383c3b;
  font-size: 39px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 40px 0;
}

@media (min-width: 576px) {
  .latestNewsHeader > ._title {
    margin: 20px 0 20px 0;
  }
}

@media (min-width: 768px) {
  .latestNewsHeader > ._title {
    font-size: 39px;
    margin: 60px 0 40px 0;
  }
}

@media (min-width: 1200px) {
  .latestNewsHeader > ._title {
    margin: 80px 15px 40px 0;
  }
}

.latestNewsHeader > ._link {
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .latestNewsHeader > ._link {
    margin: 0 0 30px 0;
  }
}

.latestNewsHeader > ._link > a {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #383c3b;
  width: 100%;
  border-radius: 6px;
  font-size: 19px;
  color: #383c3b;
  padding: 1.3em;
  text-decoration: none;
}

.latestNewsHeader > ._link > a:hover {
  background-color: #f3f4f5;
  transition: background-color .3s;
}

.latestNewsHeader > ._link > a:before {
  content: "\E206";
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
  margin: 0 14px 0 0;
}

@media (min-width: 1200px) {
  .latestNewsHeader > ._link > a {
    width: 240px;
  }
}

.latestNewsItem {
  transition: all 0.3s ease 0s;
}

.latestNewsItem:hover {
  transform: scale(1.04, 1.04);
}

.latestNewsItem a {
  text-decoration: none;
  display: inline-block;
}

.latestNewsItem a img {
  width: 100%;
  margin: 30px 0 0 0;
}

@media (min-width: 768px) {
  .latestNewsItem a img {
    margin: 10px 0 0 0;
    padding: 0 7.5px;
  }
}

.latestNewsItem a ._dateCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
}

.latestNewsItem a ._dateCategory > ._date {
  color: #7e7b78;
  font-size: 15px;
  margin: 15px 0;
  letter-spacing: 0.75px;
}

@media (min-width: 768px) {
  .latestNewsItem a ._dateCategory > ._date {
    font-size: 14px;
    margin: 10px 0;
  }
}

.latestNewsItem a ._dateCategory > ._category {
  color: #c6168d;
  font-size: 15px;
  margin: 15px 0;
  font-weight: bold;
  letter-spacing: 0.75px;
}

@media (min-width: 768px) {
  .latestNewsItem a ._dateCategory > ._category {
    font-size: 14px;
    margin: 10px 0;
  }
}

.latestNewsItem a ._dateCategory > ._title {
  color: #5b6670;
  font-size: 14px;
}

.latestNewsItem:hover {
  background-color: #f3f4f5;
}

.fxb-sns {
  background-color: #efefed;
}

.fxb-sns ._pc {
  display: none;
}

.fxb-sns ._smp {
  display: block;
}

@media (min-width: 576px) {
  .fxb-sns ._pc {
    display: block;
  }
  .fxb-sns ._smp {
    display: none;
  }
}

.sns {
  list-style-type: none;
  padding-left: 0;
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 576px) {
  .sns {
    width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .sns {
    width: 720px;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .sns {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .sns {
    width: 1140px;
  }
}

.sns li {
  height: 50%;
}

@media (min-width: 576px) {
  .sns li {
    width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .sns li {
    width: 50%;
    height: auto;
    transition: all 0.2s ease 0s;
  }
  .sns li:hover {
    opacity: 0.6;
  }
}

.pageTopBtn {
  width: 100%;
  padding: 38px 0;
  margin: 0 auto;
  text-align: center;
}

.pageTopBtn img {
  cursor: pointer;
  cursor: hand;
  transition: all 0.3s ease 0s;
}

.pageTopBtn img:hover {
  transform: translateY(-0.4em);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
