extends base/_master

block variables
	- var pageTitle = 	'Multi Column Template'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'multi'
	- var pageLevel = 	''
	- var pageColor = 	''

block article
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					h1 #{pageTitle}
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,6,0,0)
					h2 Feature
					p Quo repudiandae sunt, atque dolores quam qui. Vitae, aliquid. Dolor nobis rerum enim minus, facilis sunt reiciendis in blanditiis quam voluptatibus possimus, eaque quasi sint repellendus itaque minima ipsam eos!
				+col('div','fxb',0,0,6,0,0)
					h2 Voice
					p Sequi quae earum aspernatur fugit vero sed consectetur quos veniam aliquam commodi tempora unde, deleniti perferendis molestiae eius reiciendis. Aliquid praesentium ducimus suscipit commodi optio quidem nulla architecto libero aut.
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					h2 Price
					p In laudantium dolorem, dolore porro dicta deserunt consequuntur magnam maxime, ullam cupiditate velit expedita amet labore explicabo hic minima. Debitis voluptates consectetur, maxime minus fuga laudantium minima voluptas autem ad.
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					h2 Trust
					p In laudantium dolorem, dolore porro dicta deserunt consequuntur magnam maxime, ullam cupiditate velit expedita amet labore explicabo hic minima. Debitis voluptates consectetur, maxime minus fuga laudantium minima voluptas autem ad.
