extends base/_master

block variables
	- var pageTitle = 	'Element List'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block customStylesheets
	// ここから開発用プラグインのため本番反映禁止
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css')
	// ここまで開発用プラグインのため本番反映禁止

block customScripts

block article
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					h1 #{pageTitle}
					+grid('div',0,0,4,0,0).list-type-bullet.dev-hashList
					p: button.dev-developerMode 開発者モード

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 見出し
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 大見出し
				+col('div','fxb',0,0,4,0,0).dev-elementView
					h2 大見出し
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 中見出し
				+col('div','fxb',0,0,4,0,0).dev-elementView
					h3 中見出し
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 小見出し
				+col('div','fxb',0,0,4,0,0).dev-elementView
					h4 小見出し
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 補助見出し
				+col('div','fxb',0,0,4,0,0).dev-elementView
					h5 補助見出し
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 補助見出し
				+col('div','fxb',0,0,4,0,0).dev-elementView
					h6 補助見出し
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 段落
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 段落
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p 段落
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 段落 (揃え位置)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p.text-align-left 段落 (左揃え)
					p.text-align-center 段落 (中央揃え)
					p.text-align-right 段落 (右揃え)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 段落 (インデント)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p.text-indent-1 段落 (1文字インデント)
					p.text-indent-2 段落 (2文字インデント)
					p.text-indent-3 段落 (3文字インデント)
					p.text-indent-4 段落 (4文字インデント)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 コード
				+col('div','fxb',0,0,4,0,0).dev-elementView
					pre: code Code
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 引用
				+col('div','fxb',0,0,4,0,0).dev-elementView
					blockquote 引用
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 連絡先
				+col('div','fxb',0,0,4,0,0).dev-elementView
					address 連絡先
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 テキスト
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 強調
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: em 強調
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 強調
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: strong 強調
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 注釈
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: small 注釈
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 下付き
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: sub 下付き
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 上付き
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: sup 上付き
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 コード
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: code Code
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 キー
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: kbd Key
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 斜体
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: i 斜体
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 太字
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: b 太字
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 取消
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: s 取消
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 引用
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: q 引用
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 文献
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: cite 文献
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 マーク
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: mark マーク
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 テキスト (色)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.text-color-default テキスト (デフォルト)
					p: span.text-color-inverse テキスト (インバース)
					p: span.text-color-primary テキスト (プライマリ)
					p: span.text-color-secondary テキスト (セカンダリ)
					p: span.text-color-accent テキスト (アクセント)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 テキスト (太さ)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.text-weight-normal テキスト (標準)
					p: span.text-weight-bold テキスト (太字)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 テキスト (スタイル)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.text-style-italic テキスト (イタリック体)
					p: span.text-style-oblique テキスト (斜体)
					p: span.text-style-line テキスト (下線)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 テキスト (サイズ)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.text-size-largest テキスト (非常に大きい/h1)
					p: span.text-size-larger テキスト (とても大きい/h2)
					p: span.text-size-large テキスト (大きい/h3)
					p: span.text-size-medium テキスト (標準/h4/p)
					p: span.text-size-small テキスト (小さい/h5/small)
					p: span.text-size-smaller テキスト (とても小さい/h6)
					p: span.text-size-smallest テキスト (非常に小さい)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 テキスト (フォント)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.text-family-sans テキスト (ゴシック体 | Sans Serif)
					p: span.text-family-serif テキスト (明朝体 | Serif)
					p: span.text-family-code テキスト (コード | Monospace)
					p: span.text-family-WEBFONTS テキスト (ウェブフォント | Web Fonts)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 テキスト (幅)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.text-width-block テキスト (ブロック)
					p: span.text-width-inline テキスト (インライン)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 リンク
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 リンク
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='') リンク
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ページ内リンク
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='#ID') ページ内リンク
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 外部リンク
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='https://www.lyzon.co.jp', target='_blank') 外部リンク
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 電話
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='tel:03-5803-0587') 電話
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 メール
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='mailto:info@lyzon.co.jp') メール
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 リンク (アイコン)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='').link-internal リンク
					p: a(href='#ID').link-hash ページ内リンク
					p: a(href='https://www.lyzon.co.jp', target='_blank').link-external 外部リンク
					p: a(href='tel:03-5803-0587').link-tel 電話
					p: a(href='mailto:info@lyzon.co.jp').link-mail メール
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 リンク (状態)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='').link-disabled リンク (無効)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 ボタン
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ボタン (色・塗り)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='').btn-default ボタン (デフォルト)
					p: a(href='').btn-inverse ボタン (インバース)
					p: a(href='').btn-primary ボタン (プライマリ)
					p: a(href='').btn-secondary ボタン (セカンダリ)
					p: a(href='').btn-accent ボタン (アクセント)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ボタン (色・枠線)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='').btn-outline-default ボタン (デフォルト)
					p: a(href='').btn-outline-inverse ボタン (インバース)
					p: a(href='').btn-outline-primary ボタン (プライマリ)
					p: a(href='').btn-outline-secondary ボタン (セカンダリ)
					p: a(href='').btn-outline-accent ボタン (アクセント)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ボタン (大きさ)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='').btn-size-small ボタン (小さい)
					p: a(href='').btn-size-medium ボタン (標準)
					p: a(href='').btn-size-large ボタン (大きい)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ボタン (幅)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='').btn-width-12 ボタン (最大幅)
					p: a(href='').btn-width-9 ボタン (3/4幅)
					p: a(href='').btn-width-8 ボタン (2/3幅)
					p: a(href='').btn-width-6 ボタン (1/2幅)
					p: a(href='').btn-width-4 ボタン (1/3幅)
					p: a(href='').btn-width-3 ボタン (1/4幅)
					p: a(href='').btn-width-2 ボタン (1/6幅)
					p: a(href='').btn-width-auto ボタン (最小幅)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ボタン (状態)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: a(href='').btn-disabled ボタン (無効)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 カード
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 カード (色・塗り)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					a(href='').card-default
						._image
							img(src='https://dummyimage.com/600x400/', alt='')
						._content
							p._title カード (デフォルト)
							p._outline アウトライン
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 カード (色・枠線)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					a(href='').card-outline-default
						._image
							img(src='https://dummyimage.com/600x400/', alt='')
						._content
							p._title カード (デフォルト)
							p._outline アウトライン
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 カード (向き)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					a(href='').card-direction-vartical
						._image
							img(src='https://dummyimage.com/600x400/', alt='')
						._content
							p._title カード (縦向き)
							p._outline アウトライン
					a(href='').card-direction-horizontal
						._image
							img(src='https://dummyimage.com/600x400/', alt='')
						._content
							p._title カード (横向き)
							p._outline アウトライン
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 カード (グリッド)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					+grid('div',0,0,2,0,0)
						a(href='').card-default
							._image
								img(src='https://dummyimage.com/600x400/', alt='')
							._content
								p._title カード (2カラム)
								p._outline アウトライン
						a(href='').card-default
							._image
								img(src='https://dummyimage.com/600x400/', alt='')
							._content
								p._title カード (2カラム)
								p._outline アウトライン
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 リスト
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 順不同リスト
				+col('div','fxb',0,0,4,0,0).dev-elementView
					ul
						li 順不同リスト
						li 順不同リスト
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 順不同リスト (タイプ)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					ul.list-type-bullet
						li 順不同リスト (ビュレット)
						li 順不同リスト (ビュレット)
						li 順不同リスト (ビュレット)
					ul.list-type-circle
						li 順不同リスト (円)
						li 順不同リスト (円)
						li 順不同リスト (円)
					ul.list-type-rectangle
						li 順不同リスト (四角)
						li 順不同リスト (四角)
						li 順不同リスト (四角)
					ul.list-type-asterisk
						li 順不同リスト (アスタリスク)
						li 順不同リスト (アスタリスク)
						li 順不同リスト (アスタリスク)
					ul.list-type-komejirushi
						li 順不同リスト (米印)
						li 順不同リスト (米印)
						li 順不同リスト (米印)
					ul.list-type-notice
						li 順不同リスト (注記)
						li 順不同リスト (注記)
						li 順不同リスト (注記)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 順序付きリスト
				+col('div','fxb',0,0,4,0,0).dev-elementView
					ol
						li 順序付きリスト
						li 順序付きリスト
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 順序付きリスト (タイプ)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					ol.list-type-number
						li 順序付きリスト (数字)
						li 順序付きリスト (数字)
						li 順序付きリスト (数字)
					ol.list-type-circle(start='9')
						li 順序付きリスト (円)
						li 順序付きリスト (円)
						li 順序付きリスト (円)
					ol.list-type-rectangle
						li 順序付きリスト (四角)
						li 順序付きリスト (四角)
						li 順序付きリスト (四角)
					ol.list-type-asterisk
						li 順序付きリスト (アスタリスク)
						li 順序付きリスト (アスタリスク)
						li 順序付きリスト (アスタリスク)
					ol.list-type-komejirushi
						li 順序付きリスト (米印)
						li 順序付きリスト (米印)
						li 順序付きリスト (米印)
					ol.list-type-notice
						li 順序付きリスト (注記)
						li 順序付きリスト (注記)
						li 順序付きリスト (注記)
					ol.list-type-lowerLatin
						li 順序付きリスト (小文字アルファベット)
						li 順序付きリスト (小文字アルファベット)
						li 順序付きリスト (小文字アルファベット)
					ol.list-type-upperLatin
						li 順序付きリスト (大文字アルファベット)
						li 順序付きリスト (大文字アルファベット)
						li 順序付きリスト (大文字アルファベット)
					ol.list-type-parenthesis
						li 順序付きリスト (丸カッコ)
						li 順序付きリスト (丸カッコ)
						li 順序付きリスト (丸カッコ)
					ol.list-type-squareBracket
						li 順序付きリスト (角カッコ)
						li 順序付きリスト (角カッコ)
						li 順序付きリスト (角カッコ)
					ol.list-type-angleBracket
						li 順序付きリスト (山カッコ)
						li 順序付きリスト (山カッコ)
						li 順序付きリスト (山カッコ)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 リスト (色)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					ul.list-color-default.list-type-bullet
						li リスト (デフォルト)
						li リスト (デフォルト)
						li リスト (デフォルト)
					ul.list-color-inverse.list-type-bullet
						li リスト (インバース)
						li リスト (インバース)
						li リスト (インバース)
					ul.list-color-primary.list-type-bullet
						li リスト (プライマリ)
						li リスト (プライマリ)
						li リスト (プライマリ)
					ul.list-color-secondary.list-type-bullet
						li リスト (セカンダリ)
						li リスト (セカンダリ)
						li リスト (セカンダリ)
					ul.list-color-accent.list-type-bullet
						li リスト (アクセント)
						li リスト (アクセント)
						li リスト (アクセント)
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 リスト (グリッド)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					+grid('ul',0,0,3,0,0).list-type-bullet
						li リスト (3カラム)
						li リスト (3カラム)
						li リスト (3カラム)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 定義リスト
				+col('div','fxb',0,0,4,0,0).dev-elementView
					dl
						dt 定義名
						dd 定義文
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 図
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 図
				+col('div','fxb',0,0,4,0,0).dev-elementView
					figure
						img(src='https://dummyimage.com/300x200/')
						figcaption 図
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 図 (揃え位置)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.align-left
						figure
							img(src='https://dummyimage.com/300x200/')
							figcaption 図 (左揃え)
					.align-center
						figure
							img(src='https://dummyimage.com/300x200/')
							figcaption 図 (中央揃え)
					.align-right
						figure
							img(src='https://dummyimage.com/300x200/')
							figcaption 図 (右揃え)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 図 (回り込み)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.float-left
						figure
							img(src='https://dummyimage.com/300x200/')
							figcaption 図 (左回り込み)
					.float-right
						figure
							img(src='https://dummyimage.com/300x200/')
							figcaption 図 (右回り込み)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 図 (スクロール)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.scroll
						figure
							img(src='https://dummyimage.com/600x400/')
							figcaption 図 (スクロール)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 表
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 表
				+col('div','fxb',0,0,4,0,0).dev-elementView
					table
						caption キャプション
						thead
							tr
								th(colspan='3') タイトル
								th(rowspan='2') タイトル
							tr
								td データ
								td データ
								td データ
						tbody
							tr
								th(rowspan='2') タイトル
								td データ
								td データ
								td データ
							tr
								td データ
								td データ
								td データ
							tr
								th タイトル
								td データ
								td データ
								td データ
						tfoot
							tr
								th タイトル
								td(colspan='3') データ
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 表 (色)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					table.table-default
						caption 表 (デフォルト)
						thead
							tr
								th タイトル
								th タイトル
								th タイトル
						tbody
							tr
								th タイトル
								th タイトル
								th タイトル
							tr
								td データ
								td データ
								td データ
						tfoot
							tr
								td データ
								td データ
								td データ
					table.table-primary
						caption 表 (テーマ)
						thead
							tr
								th タイトル
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
								td データ
							tr
								td データ
								td データ
								td データ
						tfoot
							tr
								td データ
								td データ
								td データ
					table.table-secondary
						caption 表 (テーマ)
						thead
							tr
								th タイトル
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
								td データ
							tr
								td データ
								td データ
								td データ
						tfoot
							tr
								td データ
								td データ
								td データ
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 表 (揃え位置)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.align-left
						table.table-default
							caption 表 (左揃え)
							thead
								tr
									th タイトル
									th タイトル
							tbody
								tr
									td データ
									td データ
								tr
									td データ
									td データ
					.align-center
						table.table-default
							caption 表 (中央揃え)
							thead
								tr
									th タイトル
									th タイトル
							tbody
								tr
									td データ
									td データ
								tr
									td データ
									td データ
					.align-right
						table.table-default
							caption 表 (右揃え)
							thead
								tr
									th タイトル
									th タイトル
							tbody
								tr
									td データ
									td データ
								tr
									td データ
									td データ
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 表 (回り込み)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.float-left
						table.table-default
							caption 表 (左回り込み)
							thead
								tr
									th タイトル
									th タイトル
							tbody
								tr
									td データ
									td データ
								tr
									td データ
									td データ
					.float-right
						table.table-default
							caption 表 (右回り込み)
							thead
								tr
									th タイトル
									th タイトル
							tbody
								tr
									td データ
									td データ
								tr
									td データ
									td データ
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 表 (スクロール)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.scroll
						table.table-default
							caption 表 (スクロール)
							thead
								tr
									th タイトル
									th タイトル
									th タイトル
									th タイトル
									th タイトル
									th タイトル
							tbody
								tr
									td データ
									td データ
									td データ
									td データ
									td データ
									td データ
								tr
									td データ
									td データ
									td データ
									td データ
									td データ
									td データ
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 表 (幅)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					table.table-width-12
						caption 表 (最大幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
					table.table-width-9
						caption 表 (3/4幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
					table.table-width-8
						caption 表 (2/3幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
					table.table-width-6
						caption 表 (1/2幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
					table.table-width-4
						caption 表 (1/3幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
					table.table-width-3
						caption 表 (1/4幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
					table.table-width-2
						caption 表 (1/6幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
					table.table-width-auto
						caption 表 (最小幅)
						thead
							tr
								th タイトル
								th タイトル
						tbody
							tr
								td データ
								td データ
							tr
								td データ
								td データ
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 セル (文字)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					table.table-default
						caption セル (文字)
						thead
							tr
								th._bold セル (太字)
								th._normal セル (標準)
								th._primary セル (プライマリ)
								th._secondary セル (セカンダリ)
								th._accent セル (アクセント)
								th._disabled セル (無効)
						tbody
							tr
								th._bold セル (太字)
								th._normal セル (標準)
								th._primary セル (プライマリ)
								th._secondary セル (セカンダリ)
								th._accent セル (アクセント)
								th._disabled セル (無効)
							tr
								td._bold セル (太字)
								td._normal セル (標準)
								td._primary セル (プライマリ)
								td._secondary セル (セカンダリ)
								td._accent セル (アクセント)
								td._disabled セル (無効)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 セル (レイアウト)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					table.table-default
						caption セル (レイアウト)
						thead
							tr
								th._left セル (左揃え)
								th._center セル (中央揃え)
								th._right セル (右揃え)
								th._nowrap セル (改行禁止)
						tbody
							tr
								th._left セル (左揃え)
								th._center セル (中央揃え)
								th._right セル (右揃え)
								th._nowrap セル (改行禁止)
							tr
								td._left セル (左揃え)
								td._center セル (中央揃え)
								td._right セル (右揃え)
								td._nowrap セル (改行禁止)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 セル (幅)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					table.table-default
						caption セル (幅)
						thead
							tr
								th._width-6 セル (6文字幅)
								th._width-12 セル (12文字幅)
						tbody
							tr
								th._width-6 セル (6文字幅)
								th._width-12 セル (12文字幅)
							tr
								td._width-6 セル (6文字幅)
								td._width-12 セル (12文字幅)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 罫線
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 罫線
				+col('div','fxb',0,0,4,0,0).dev-elementView
					hr
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 罫線 (色)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					hr.hr-color-default
					| 罫線 (デフォルト)
					hr.hr-color-inverse
					| 罫線 (インバース)
					hr.hr-color-primary
					| 罫線 (プライマリ)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 罫線 (タイプ)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					hr.hr-type-solid
					| 罫線 (実線)
					hr.hr-type-dotted
					| 罫線 (点線)
					hr.hr-type-dashed
					| 罫線 (破線)
					hr.hr-type-double
					| 罫線 (二重線)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 パネル
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 パネル (色)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.panel-default
						._header
							h4._title パネル (デフォルト)
						._content
							p コンテンツ
					.panel-primary
						._header
							h4._title パネル (プライマリ)
						._content
							p コンテンツ
					.panel-secondary
						._header
							h4._title パネル (セカンダリ)
						._content
							p コンテンツ
					.panel-accent
						._header
							h4._title パネル (アクセント)
						._content
							p コンテンツ
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 ラベル
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ラベル (色 塗り)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.label-default ラベル (デフォルト)
					p: span.label-inverse ラベル (インバース)
					p: span.label-primary ラベル (プライマリ)
					p: span.label-secondary ラベル (セカンダリ)
					p: span.label-accent ラベル (アクセント)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ラベル (色 枠線)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.label-outline-default ラベル (デフォルト)
					p: span.label-outline-inverse ラベル (インバース)
					p: span.label-outline-primary ラベル (プライマリ)
					p: span.label-outline-secondary ラベル (セカンダリ)
					p: span.label-outline-accent ラベル (アクセント)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 ラベル (サイズ)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					p: span.label-size-small ラベル (小さい)
					p: span.label-size-medium ラベル (標準)
					p: span.label-size-large ラベル (大きい)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 グリッド
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 グリッド(均等幅)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					+grid('div',0,0,4,0,0)
						._item グリッド (4カラム)
						._item グリッド (4カラム)
						._item グリッド (4カラム)
						._item グリッド (4カラム)
				+col('div','fxb',0,0,2,0,0)
					p 備考
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 グリッド(固定幅)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.grid
						+item('div',0,0,4,0,0) グリッド (1/3カラム)
						+item('div',0,0,4,0,0) グリッド (1/3カラム)
						+item('div',0,0,4,0,0) グリッド (1/3カラム)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 揃え位置
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 揃え位置
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.align-left 揃え位置コンテンツ (左揃え)
					.align-center 揃え位置コンテンツ (中央揃え)
					.align-right 揃え位置コンテンツ (右揃え)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 回り込み
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 回り込み (回り込み位置)
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.float-left 回り込みコンテンツ (左回り込み)
					.float-right 回り込みコンテンツ (右回り込み)
				+col('div','fxb',0,0,2,0,0)
					p 備考

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 スクロール
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 スクロール
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.scroll: p スクロールコンテンツ
				+col('div','fxb',0,0,2,0,0)
					p: mark CSS/JS未定義

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 トグル
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 トグル
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.toggle
						._header トグル
						._content コンテンツ
				+col('div','fxb',0,0,2,0,0)
					p: mark CSS/JS未定義

	.fxb-section.dev-printBreak
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 余白
	.fxb-section
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,2,0,0)
					h5 余白
				+col('div','fxb',0,0,4,0,0).dev-elementView
					.space-mt-m1 上マイナスマージン1文字分
					.space-mt-m2 上マイナスマージン2文字分
					.space-mt-m3 上マイナスマージン3文字分
					.space-mt-m4 上マイナスマージン4文字分
					.space-mb-m1 下マイナスマージン1文字分
					.space-mb-m2 下マイナスマージン2文字分
					.space-mb-m3 下マイナスマージン3文字分
					.space-mb-m4 下マイナスマージン4文字分
					.space-mt-p1 上プラスマージン1文字分
					.space-mt-p2 上プラスマージン2文字分
					.space-mt-p3 上プラスマージン3文字分
					.space-mt-p4 上プラスマージン4文字分
					.space-mb-p1 下プラスマージン1文字分
					.space-mb-p2 下プラスマージン2文字分
					.space-mb-p3 下プラスマージン3文字分
					.space-mb-p4 下プラスマージン4文字分
					.space-pt-1 上パディング1文字分
					.space-pt-2 上パディング2文字分
					.space-pt-3 上パディング3文字分
					.space-pt-4 上パディング4文字分
					.space-pb-1 下パディング1文字分
					.space-pb-2 下パディング2文字分
					.space-pb-3 下パディング3文字分
					.space-pb-4 下パディング4文字分
				+col('div','fxb',0,0,2,0,0)
					p 備考
