extends base/_master

block variables
	- var pageTitle = 	'Flexible Body'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block customStylesheets
	// ここから開発用プラグインのため本番反映禁止
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css')
	// ここまで開発用プラグインのため本番反映禁止

block customScripts

block article
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					h1 #{pageTitle}
					+grid('div',0,0,4,0,0).list-type-bullet.dev-hashList
					p: button.dev-developerMode 開発者モード

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 共通設定
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 フレキシブルボディの余白
					table
						tbody
							tr
								th 上部にスペースを増やす
								td: code .fxb-margin

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 基本型
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 画像の表示位置
					table
						tbody
							tr
								th 左揃え
								td: code .align-left
							tr
								th 中央揃え
								td: code .align-center
							tr
								th 右揃え
								td: code .align-right
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 カラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .fxb-col-md-12
								td: code .fxb-col-12
							tr
								th 2カラム
								td: code .fxb-col-md-6
								td: code .fxb-col-6
							tr
								th 3カラム
								td: code .fxb-col-md-4
								td: code .fxb-col-4
							tr
								th 4カラム
								td: code .fxb-col-md-3
								td: code .fxb-col-3
					p 2カラムの場合は割合(%)で幅指定が可能
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						p [Rich Text] 津軽に於いては、浅虫温泉は最も有名で、つぎは大鰐温泉といふ事になるのかも知れない。大鰐は、津軽の南端に近く、秋田との県境に近いところに在つて、温泉よりも、スキイ場のために日本中に知れ渡つてゐるやうである。山麓の温泉である。ここには、津軽藩の歴史のにほひが幽かに残つてゐた。私の肉親たちは、この温泉地へも、しばしば湯治に来たので、私も少年の頃あそびに行つたが、浅虫ほど鮮明な思ひ出は残つてゐない。
						.align-center
							figure
								img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								figcaption figcaption[Single-Line Text] 画像キャプション
						p [Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 フロート画像型
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 画像の表示位置
					table
						tbody
							tr
								th 左寄せ
								td: code .float-left
							tr
								th 右寄せ
								td: code .float-right
					p 挿入される画像の幅をfigureタグに記述
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 カラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .fxb-col-md-12
								td: code .fxb-col-12
							tr
								th 2カラム
								td: code .fxb-col-md-6
								td: code .fxb-col-6
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						.float-left
							figure
								img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								figcaption figcaption[Single-Line Text] 画像キャプション
						p [Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。

	.fxb-section
		.fxb-container
			.fxb-row
				+col(0,0,12,0,0)
					.dev-h2 カバー画像型
	.dev-sectionView
		.fxb-section
			.fxb-container-fluid
				.fxb-row._cover-group
					+col('div','fxb',0,0,6,0,0)._cover-image(style='background-image:url(https://dummyimage.com/600x400)')
					+col('div','fxb',0,0,6,0,0)._cover-content
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						p [Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 カスタム見出し型
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 カスタムHTML型
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						p [Rich Text] 津軽に於いては、浅虫温泉は最も有名で、つぎは大鰐温泉といふ事になるのかも知れない。大鰐は、津軽の南端に近く、秋田との県境に近いところに在つて、温泉よりも、スキイ場のために日本中に知れ渡つてゐるやうである。山麓の温泉である。ここには、津軽藩の歴史のにほひが幽かに残つてゐた。私の肉親たちは、この温泉地へも、しばしば湯治に来たので、私も少年の頃あそびに行つたが、浅虫ほど鮮明な思ひ出は残つてゐない。

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 カード型
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 カラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .col-md-12
								td: code .col-12
							tr
								th 2カラム
								td: code .col-md-6
								td: code .col-6
							tr
								th 3カラム
								td: code .col-md-4
								td: code .col-4
							tr
								th 4カラム
								td: code .col-md-3
								td: code .col-3
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						+grid('div',0,0,3,0,0)
							a(href='').card-default
								._image
									img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								._content
									p._title [Single-Line Text] 見出し
									p._outline [Single-Line Text] 概要文
							a(href='').card-default
								._image
									img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								._content
									p._title [Single-Line Text] 見出し
									p._outline [Single-Line Text] 概要文
							a(href='').card-default
								._image
									img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								._content
									p._title [Single-Line Text] 見出し
									p._outline [Single-Line Text] 概要文

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 リスト型
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 リストのカラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .list-grid-md-12
								td: code .list-grid-12
							tr
								th 2カラム
								td: code .list-grid-md-6
								td: code .list-grid-6
							tr
								th 3カラム
								td: code .list-grid-md-4
								td: code .list-grid-4
							tr
								th 4カラム
								td: code .list-grid-md-3
								td: code .list-grid-3
							tr
								th 6カラム
								td: code .list-grid-md-2
								td: code .list-grid-2
							tr
								th インライン
								td: code .list-grid-md-inline
								td: code .list-grid-inline
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						+grid('ul',0,0,4,0,0).list-type-bullet
							li [Single-Line Text] リスト項目
							li [Single-Line Text] リスト項目
							li [Single-Line Text] リスト項目
						+grid('div',0,0,4,0,0).list-type-bullet
							a(href='') [Single-Line Text] リンクリスト項目
							a(href='') [Single-Line Text] リンクリスト項目
							a(href='') [Single-Line Text] リンクリスト項目
