extends base/_master

block variables
	- var pageTitle = 	'iconlist'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block customStylesheets
	// ここから開発用プラグインのため本番反映禁止
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css')
	// ここまで開発用プラグインのため本番反映禁止

block article
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					h1 #{pageTitle}
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					p SVGのサイズは1000×1000に合わせてください。
					include template/_icon