extends base/_master

block variables
	- var pageTitle = 	'Design Checker'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block customStylesheets

block customScripts
	// ここから開発用プラグインのため本番反映禁止
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js')
	script.
		angular.module('myApp', ['ngSanitize']).controller('myController', function($scope) {});
	// ここまで開発用プラグインのため本番反映禁止

block article
	.fxb-section
		.fxb-container
			.fxb-row
				.fxb-col-12
					h1 #{pageTitle}
	div(ng-app='myApp').dev-cheacker
		div(ng-controller='myController')
			.fxb-section
				.fxb-container
					.fxb-row
						.fxb-col-12
							textarea(ng-model='data' placeholder='ここにHTMLを入力してください').dev-checkerTextarea
			.fxb-section
				.fxb-container
					.fxb-row
						.fxb-col-12
							div(ng-bind-html='data').dev-checkerResult
			.fxb-section
				.fxb-container
					.fxb-row
						.fxb-col-12
							hr
							p
								strong 注意
								br
								small 入力されたコードは、セキュリティの都合上、サニタイズ（スクリプトの実行可能なHTML要素や属性は除去）されます。
