extends base/_master

block variables
	- var pageTitle = 	'オーティコンについて'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block article
	.topBanner
		._pcItem
			.autoplay
				a(href='')
					img(src=imgpath + '/img_mainVisual-opn_pc.png', alt='さまざまな会話が飛び交う　騒がしい環境での聞こえを効果的にサポートするはじめての補聴器　オーティコンオープン')
				a(href='')
					img(src=imgpath + '/img_mainVisual-mimitomo_pc.png', 
					alt='人は脳で聞いている　オーティコンオープン　2017年6月15日まで　ユーザー満足度95% 話題の先進補聴器をいつもの生活環境で、しっかり、じっくりお試しいただけます。　先進補聴器Opn(オープン)を2週間無料視聴できます！')
		._smpItem
			.autoplay
				a(href='')
					img(src=imgpath + '/img_mainVisual-opn_smp.png', alt='オーティコンオープン')
				a(href='')
					img(src=imgpath + '/img_mainVisual-mimitomo_smp.png', 
					alt='人は脳で聞いている　オーティコンオープン　2017年6月15日まで　ユーザー満足度95% 話題の先進補聴器をいつもの生活環境で、しっかり、じっくりお試しいただけます。　先進補聴器Opn(オープン)を2週間無料視聴できます！')
	.fxb-Banner
		.fxb-container
			.fxb-row
				+col('div','fxb',0,12,4,0,0)
					.secondaryBanner.secondaryBannerFirst
						a(href='')
							img(src=imgpath + '/btn_topOpn.jpg', alt='新たな聞こえの世界へ オーティコンオープン')
				+col('div','fxb',0,6,4,0,0)
					.secondaryBanner
						a(href='')
							img(src=imgpath + '/btn_topHearingforall.jpg', alt='みんなの聞こえ Hearing for all')
				+col('div','fxb',0,6,4,0,0)
					.secondaryBanner
						a(href='')
							img(src=imgpath + '/btn_topSearch.jpg', alt='お近くのオーティコン製品　取り扱い店舗を探す')
	.fxb-productDescription
		.fxb-container
			.fxb-row
				+col('div','fxb',0,6,6,6,0)
					.oticon: img(src=imgpath + '/image_img_consept.png', alt='Oticon People First')
				+col('div','fxb',0,6,6,6,0)
					.peopleFirst
						._title: img(src=imgpath + '/People First.png', alt='People First')
						p._text01 「ピープルファースト」
						p._text02 聞こえに悩む人々を第一に考える
						p._text03 私たちオーティコンは聞こえに悩む人々の思いに耳を傾け、お客様ひとりひとりのニーズと希望を第一に優先した最高の聞こえをご提供します。
	.fxb-latestInformation
		.fxb-container
			.fxb-row
				+col('div','fxb',0,6,0,3,0)
					.latestNewsHeader
						h2._title 最新情報
						p._link
							a(href='') 最新情報一覧
				+col('div','fxb',0,6,0,3,0)
					.latestNewsItem
						a(href='')
							img(src=imgpath + '/btn_infoNews.jpg', alt='')
							._dateCategory
								p._date 2017/01/01
								p._category お知らせ
								p._title “脳で聞く”ブレインヒヤリング搭載補聴器  試聴体験フェア開催  in 北海道！開催中2016/1/16-2/19
				+col('div','fxb',0,6,0,3,0)
					.latestNewsItem
						a(href='')
							img(src=imgpath + '/btn_infoPress.jpg', alt='')
							._dateCategory
								p._date 2017/12/13
								p._category プレスリリース
								p._title オーティコン補聴器、世界初のインターネット接続可能な補聴器「Oticon Opn(TM)」が、CES2017の２部門でイノベーションアワードを受賞～世界をリードする…
				+col('div','fxb',0,6,0,3,0)
					.latestNewsItem
						a(href='')
							img(src=imgpath + '/btn_infoDealer.jpg', alt='')
							._dateCategory
								p._date 2017/09/05
								p._category 販売店向け
								p._title BrainHearing™（ブレインヒアリング）特集第５回『 反響音のある聞こえの環境。それは難聴のある方にとって、ことばの理解が極めて難しい場面の一つということ
	.fxb-sns
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					ul.sns
						li._pc
							a(href='')
								img(src=imgpath + '/btn_footerFb.jpg', alt='Oticon People First 公式Facebookページ')
						li._pc: a(href=''): img(src=imgpath + '/btn_footerYoutube.jpg', alt='Oticon People First Youtubeチャンネル　動画で知るオーティコンと補聴器')
						li._smp: a(href=''): img(src=imgpath + '/btn_footerFb_sp.jpg', alt='Oticon People First 公式Facebookページ')
						li._smp: a(href=''): img(src=imgpath + '/btn_footerYoutube_sp.jpg', alt='Oticon People First Youtubeチャンネル　動画で知るオーティコンと補聴器')
	.fxb-pageTopBtn
		.pageTopBtn
			img(src=imgpath + '/page_top.png', alt='page top')
