
.l-header {
	background-color: $gray-white;
	color: #383c3b;
}

.closeMenu_btn{
	display: flex;
	justify-content: flex-end;
	z-index: 500;
	cursor: pointer;
	cursor: hand;
	visibility: hidden;
	&:before{
		@include icon("close");
		font-size: 30px;
		color: $gray-white;
		margin: 15px 15px 15px 0;
	}
	&.is-active{
		visibility: visible;
	}
}
ul.drawerMenu{
	list-style-type: none;
	position: fixed;
	background-color:#f7f4f0;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	color: #6b6867;
	z-index: 400;
	padding: 0;
	margin: 0;
	display: none;
	left:0;
	&.is-active{
		left: 0;
		display: block;
	}
	> p{
		display: none;
	}
	.dropdwn_list p{
		font-size: 19px;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 10px;
		cursor: pointer;
		cursor: hand;
		&:after{
			@include icon("arrow");
			font-size: 12px;
		}
	}
	.closeMenu1{
		background-color: #383c3b;
	}
	.closeMenu2{
		padding: 15px;
		background-color: #383c3b;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $gray-white;
		font-size: 15px;
		&:before{
			@include icon("close");
			font-size: 30px;
			color: $gray-white;
			cursor: pointer;
			cursor: hand;
		}
		p{
			padding: 0 0 0 15px;
			cursor: pointer;
			cursor: hand;
			font-family: 'Encode Sans Condensed', sans-serif;
			letter-spacing: 2px;
		}
	}
	.ogsSite{
		background-color: $gray-white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: solid 1px #cbc9c4;
		&:before{
			@include icon("rhombus");
			font-size: 20px;
			color: $brand-secondary;
		}
		p{
			border-top: none;
			padding: 10px 0;
			font-family: 'Encode Sans Condensed', sans-serif;
			letter-spacing: 1.7px;
			&:after{
				display: none;
			}
		}
	}
	> li{
		list-style-type: none;
		border-top: solid 1px #cbc9c4;
		margin: 0 0 0 1px;
		.dropdwn_menu{
			background-color: $gray-white;
			padding: 0;
			display: none;
			&.is-active{
				display: block;
			}
			li{
				width: 100%;
				padding: 0 10px;
				margin: auto;
				list-style-type: none;
				p{
					font-size: 13px;
					color: #6b6867;
					border-top: solid 1px #cbc9c4;
					justify-content: flex-start;
					&:before{
						@include icon("arrow");
						margin: 0 10px 0 0;
					}
					&:after{
						@include icon("arrow");
						display: none;
						justify-content: flex-start;
					}
				}
			}
		}
		a{
			text-decoration: none;
			color: #6b6867;
			> p{
				font-size: 19px;
				padding: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 10px;
				&:after{
					@include icon("arrow");
					font-size: 12px;
				}
			}
		}
	}
}
.globalContainer {
	width: 100%;
	position: fixed;
	top:0;
	background-color: $gray-white;
	z-index: 300;
	@include sm{
		position: relative;
	}
	.subMenuPc{
		display: none;
		@include sm{
			display: block;
		}
		> ._pc{
			display: flex;
			justify-content:flex-end;
			@include sm{
				margin: 0;
			}
			@include md{
			}
			@include lg{
				margin: 0 0 0 40%;
				justify-content: center;
			}
			a:nth-child(3){
				border-right: solid 1px $brand-white;
			}
			a{
				text-decoration: none;
				color: #383c3b;
				border-left: solid 1px $brand-white;
				border-bottom: solid 1px $brand-white;
				background-color: $gray-white;
				&:hover{
					background-color: $gray-lighter;
				}
				p{
					margin: 10px 20px;
					color: #7e7b78;
					font-size: 13px;
				}
				> ._Item01{
					display: flex;
					justify-content: center;
					&:before{
						@include icon("rhombus");
						font-size: 20px;
						margin: 0 6px 0 0;
						color: $brand-secondary;
					}
				}
				> ._Item02{
					display: flex;
					justify-content: center;
					&:before{
						@include icon("building");
						margin: 0 12px 0 0;
						font-size: 20px;
					}
				}
				> ._Item03{
					display: flex;
					justify-content: center;
					&:before{
						@include icon("search");
						margin: 0 12px 0 0;
						font-size: 20px;
					}
				}

			}
		}
	}
	.globalMenu {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include sm{
			display: flex;
			justify-content:center;
			flex-wrap: nowrap;
		}
		h1{
			min-width: 93px;
			width: 93px;
			margin: 15px;
			@include sm{
				width: 149px;
				max-width: 149px;
				margin: 10px 25px 35px 25px;
			}
			@include lg{
				width: 149px;
				max-width: 149px;
				margin: 10px 50px 35px 100px;
			}
			a{
				display: inline-block;
				transition: all 0.2s ease 0s;
				&:hover{
					opacity: 0.6;
				}				
			}

		}
		> ._menuPc{
			display: none;
			
			@include sm{
				width: calc(100% - 300px);
				display: block;
			}
			p{
				display: inline-block;
				position: relative;
				&:hover{
					&:after{
					position: absolute;
					content: "";
					border-bottom: 2px solid $brand-secondary;
					left: 40%;
					right: 50%;
					top: 36px;
					width: 29px;
					@include lg{
						top: 40px;
					}

					}

				}
			}
			.menuPc_box{
				display: inline-block;
				ul{
					@include sm{
						width: 100%;
						display: inline-block;
						display: flex;
						justify-content: center;
						list-style-type: none;
						align-items: center;
						flex-wrap: wrap;
						margin: 20px 10px 20px 0;
						padding: 0;
						box-sizing:border-box;
					}
					@include lg{
						margin: 30px 20px 30px 0;
					}
					li {
						max-width:100%;
						a{
							text-decoration: none;
							color: #383c3b;
							p {
								font-size: 18px;
								margin-left: 35px;
								font-weight: 300;
								line-height: 2.4em;
								@include sm{
									font-size: 16px;
								}
								@include lg{
									font-size: 18px;
								}
							}
						}
					}
				}
			}
			ul{
				@include sm{
					width: 100%;
					display: inline-block;
					display: flex;
					justify-content: center;
					list-style-type: none;
					align-items: center;
					flex-wrap: wrap;
					margin: 20px 10px 20px 0;
					padding: 0;
					box-sizing:border-box;
				}
				@include lg{
					margin: 30px 20px 30px 0;
				}
				li {
					max-width:100%;
					a{
						text-decoration: none;
						color: #383c3b;
						p {
							font-size: 18px;
							margin-left: 35px;
							font-weight: 300;
							line-height: 2.4em;
							@include sm{
								font-size: 16px;
							}
							@include lg{
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		> ._menuSmp{
			display: block;
			@include sm{
				display: none;
			}
			._itemList{
				display: flex;
				align-items: center;
					p{
						font-size: 10px;
					}
					> ._item01{
							margin: 10px;
							display: flex;
							align-items:center;
							flex-direction: column-reverse;
						&:after{
							font-size: 24px;
							margin: 5px;
							@include icon("search");
						}
					}
					> ._item02{
						margin: 10px;
						display: flex;
						align-items:center;
						flex-direction: column-reverse;
						cursor: pointer;
						cursor: hand; 						
						&:after{
							font-size: 24px;
							margin: 5px;
							@include icon("menu");
						}
					}
			}
		}
	}
}
