.l-main {
	@include adaptive {
		&.theme-multi {
			@include desktop {
				display: flex;
				flex-wrap: wrap;
				width: $base-width;
			}
		}
	}
	@include responsive {
		&.theme-multi {
			@include xs {
				width: auto;
			}
			@include sm {
				width: $base-sm-width;
			}
			@include md {
				width: $base-md-width;
			}
			@include lg {
				width: $base-lg-width;
			}
			@include xl {
				width: $base-xl-width;
			}

			display: flex;
			flex-wrap: wrap;
		}
	}

	margin-left: auto;
	margin-right: auto;
}

// Sample Design -->


// <-- Sample Design
