
.l-footer{
    background-color: #383c3b;
    color: $brand-white;
    letter-spacing: 0.5px;
    .fxb-row{
        padding: 30px 0 25px 0;
        @include md{
            padding: 90px 0 0 0;
        }
    }
}
.footerMenu{
    padding: 0 20px 0 0;
    p{
        color: $brand-white;
        &:hover{
            color: $gray-white;
        }
    }
    > ul{
        list-style: none;
        padding: 0 0 0 15px;
        font-size: 15px;
        @include md{
            font-size: 20px;
        }
        > li{
            display: none;
            @include md{
                padding: 0 0 5px 17px;
                display: block;
                font-size: 14px;
                > a{
                    text-decoration: none;
                }
            }
        }
        > a{
            text-decoration: none;
            > ._line{
                display: inline-block;
                position: relative;
                margin: 0 0 10px 0;
                @include md{
                    margin: 0 0 20px 0;
                }
                &:after{
                    content: "";
                    border-bottom: 1px solid $brand-secondary;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 35px;
                    width: 22px;
                    @include md{
                        top: 34px;
                        width: 38px;
                    }
                    @include lg{
                        top: 40px;
                    }
                }
                @include md{

                }
            }
        }
    }
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 0 0 60px 0;
    font-size: 9px;
    @include md{
        width: 100%;
        text-align: right;
        padding: 60px 100px 70px 0;
        font-size: 13px;
    }
}
