@font-face {
  font-family: "<%= fontName %>";
  src:
    url("<%= fontPath %><%= fontName %>.eot");
  src:
    url("<%= fontPath %><%= fontName %>.eot?#iefix") format("eot"),
    url("<%= fontPath %><%= fontName %>.woff") format("woff"),
    url("<%= fontPath %><%= fontName %>.ttf") format("truetype"),
    url("<%= fontPath %><%= fontName %>.svg#<%= fontName %>") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="<%= className %>-"],
[class*=" <%= className %>-"] {
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<% _.each(glyphs, function(glyph) {
  %>.<%=className %>-<%=glyph.name %>:before {
    content: "\<%= glyph.codepoint.toString( 16 ).toUpperCase() %>"
  }
<%});%>

@mixin icon ( $name ) {
  <% _.each(glyphs, function(glyph) {
    %>@if ($name == '<%=glyph.name %>') {
    content: "\<%= glyph.codepoint.toString( 16 ).toUpperCase() %>";
  }
  <%});%>
  font-family: "<%= fontName %>";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

// x103-iconlist

.l-glyph {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -10px;

  >li {
    display: block;
    width: calc(50% - 20px);
    background-color: #ecf0f1;
    border-radius: .5em;
    padding: 10px 0;
    margin: 10px;
    text-align: center;
    @include lg {
      width: calc(25% - 20px);
    }
  }

  .icon {
    font-size: 2em;
  }

  .cssname {
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .copycontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;

    .codepoint {
      margin-top: 1em;
      font-family: monospace;
      color: #7f8c8d;
    }

    .dev-elementView {
      display: none;
    }

    .dev-elementCode {
      width: 100%;
      padding: 0 10px;
      pre {
        margin: 0;
        button {
          margin-top: 10px;
        }
      }
    }
  }
}