- var rootpath = ''
- var csspath = rootpath + '/common/css'
- var jspath = rootpath + '/common/js'
- var fontpath = rootpath + '/common/fonts'
- var imgpath = rootpath + '/common/images'
- var mediapath = rootpath + '/media'

- var siteTitle = 'oticon'

include _mixin

block variables

doctype html
html(lang=pageLang)
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content=pageDesc)
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', href=imgpath + '/favicon.ico')
		link(rel='apple-touch-icon', href=imgpath + '/apple-touch-icon.png')
		link(rel='stylesheet', href=csspath + '/style.css')
		block customStylesheets
		title #{pageTitle} &laquo; #{siteTitle}
	body
		header.l-header
			nav
				ul.drawerMenu
					li.closeMenu1.closeMenu_btn
					li: a(href=''): p 聞こえについて
					li: .dropdwn_list
						p 製品について
						ul.dropdwn_menu
							li: a(href=''): p Opn オープン
							li: a(href=''): p Alta2 Pro アルタ２プロ / Alta2 アルタ２
							li: a(href=''): p Nera2 Pro ネラ２プロ / Nera2 ネラ２
							li: a(href=''): p Ria2 Pro リア２プロ / Ria2 リア２
							li: a(href=''): p Dynamo ダイナモ
					li: a(href=''): p サポート
					li: a(href=''): p オーティコンについて
					li: a(href=''): p みんなの聞こえ
					li: a(href=''): p お問い合わせ
					li: a(href=''): p プロフェッショナルサイト
					li: a(href=''): p ご利用環境について
					li: a(href=''): p 個人情報保護方針
					li.ogsSite: a(href=''): p Oticon Global Site
					li.closeMenu2: p CLOSE
				
				.globalContainer
					.subMenuPc
						._pc
							a(href=''): p._Item01 Oticon Global Site
							a(href=''): p._Item02 Professional
							a(href=''): p._Item03 販売店検索
					.globalMenu
						h1
							a(href=''): img(src=imgpath + '/oticon_logo.png', alt='oticon people first')
						._menuPc
							._menuPc_box
								ul
									li: a(href=''): p 聞こえについて
									li: a(href=''): p 製品について
									li: a(href=''): p サポート
									li: a(href=''): p オーティコンについて
									li: a(href=''): p みんなの聞こえ
									li: a(href=''): p お問い合わせ
						._menuSmp
							._itemList
								p._item01 販売店検索
								p._item02.menuBtn メニュー
		+main(pageColumn,pageLevel,pageColor)
			article.l-article
				block article
		footer.l-footer
			nav.fxb-container
				.fxb-row
					+col('div','fxb',0,0,4,0,0)
						.footerMenu
							ul: a(href=''): p._line 聞こえについて
								li: a(href=''): p 聞こえの健康
								li: a(href=''): p 補聴器を検討、購入される方
								li: a(href=''): p お子さんの補聴器購入を考えている方
								li: a(href=''): p ハイライト
						.footerMenu
							ul: a(href=''): p._line オーティコンについて
								li: a(href=''): p オーティコンについて
								li: a(href=''): p オーティコンの指針について
								li: a(href=''): p オーティコンの理念 「ピープル・ファースト」
								li: a(href=''): p 社会貢献活動
								li: a(href=''): p お問い合わせ窓口
								li: a(href=''): p 採用情報
								li: a(href=''): p 最新情報
					+col('div','fxb',0,0,4,0,0)
						.footerMenu
							ul: a(href=''): p._line  製品について
								li: a(href=''): p Opn オープン
								li: a(href=''): p Alta2 Pro アルタ２プロ / Alta2 アルタ２
								li: a(href=''): p Nera2 Pro ネラ２プロ / Nera2 ネラ２
								li: a(href=''): p Ria2 Pro リア２プロ / Ria2 リア２
								li: a(href=''): p Dynamo ダイナモ
								li: a(href=''): p Sensei Pro センセイプロ / Sensei センセイ
								li: a(href=''): p SenseiSP Pro センセイSPプロ/SenseiSP センセイSP
								li: a(href=''): p イニウム･RISE2補聴器シリーズ
								li: a(href=''): p イニウムセンス製品比較
								li: a(href=''): p 耳鳴り対処機能付き製品
								li: a(href=''): p オープンコネクティビティ
								li: a(href=''): p コネクトライン
								li: a(href=''): p 子供向けコネクトライン
								li: a(href=''): p アミーゴFM
								li: a(href=''): p 製品の形状
								li: a(href=''): p 補聴器のスタイル
					+col('div','fxb',0,0,4,0,0)
						.footerMenu
							ul: a(href=''): p._line サポート
								li: a(href=''): p お手入れ・使い方
								li: a(href=''): p サポートハイライト
								li: a(href=''): p ダウンロードセンター
						.footerMenu
							ul: a(href=''): p._line みんなの聞こえ
							ul: a(href=''): p._line プロフェッショナルサイト
							ul: a(href=''): p._line ご利用環境について
							ul: a(href=''): p._line 個人情報保護方針
				.copyright Copyright &copy; Oticon A/S All Rights Reserved.
		script(src=jspath + '/lib/vendor.js')
		script(src=jspath + '/common/common.js')
		block customScripts
