mixin main(column, level, color)
	- var columnClass = 0
	- var levelClass = 0
	- var colorClass = 0
	if (column)
		- columnClass = 'theme-' + column
	if (level)
		- levelClass = 'theme-' + level
	if (color)
		- colorClass = 'theme-' + color
	main.l-main(class!=[columnClass, levelClass, colorClass, attributes.class], style!=attributes.style)
		if block
			block

mixin col(element, prefix, xsColumn, smColumn, mdColumn, lgColumn, xlColumn)
	- element = !element ? 'div' : element
	- prefix = !prefix ? '' : prefix + '-'
	- var xsClass = 0
	- var smClass = 0
	- var mdClass = 0
	- var lgClass = 0
	- var xlClass = 0
	if (construction == 'responsive')
		if (xsColumn)
			- xsClass = prefix + 'col-' + xsColumn
		if (smColumn)
			- smClass = prefix + 'col-sm-' + smColumn
		if (mdColumn)
			- mdClass = prefix + 'col-md-' + mdColumn
		if (lgColumn)
			- lgClass = prefix + 'col-lg-' + lgColumn
		if (xlColumn)
			- xlClass = prefix + 'col-xl-' + xlColumn
	if (construction == 'adaptive')
		if (xsColumn)
			- xsClass = prefix + 'col-' + xsColumn
		if (smColumn)
			- xsClass = prefix + 'col-' + smColumn
		if (mdColumn)
			- xsClass = prefix + 'col-' + mdColumn
		if (lgColumn)
			- xsClass = prefix + 'col-' + lgColumn
		if (xlColumn)
			- xsClass = prefix + 'col-' + xlColumn
	#{element}(class!=[xsClass, smClass, mdClass, lgClass, xlClass, attributes.class], style!=attributes.style)
		if block
			block

mixin grid(element, xsColumn, smColumn, mdColumn, lgColumn, xlColumn)
	- element = !element ? 'div' : element
	- var xsClass = 0
	- var smClass = 0
	- var mdClass = 0
	- var lgClass = 0
	- var xlClass = 0
	if (construction == 'responsive')
		if (xsColumn)
			- xsClass = 'grid-' + xsColumn
		if (smColumn)
			- smClass = 'grid-sm-' + smColumn
		if (mdColumn)
			- mdClass = 'grid-md-' + mdColumn
		if (lgColumn)
			- lgClass = 'grid-lg-' + lgColumn
		if (xlColumn)
			- xlClass = 'grid-xl-' + xlColumn
	if (construction == 'adaptive')
		if (xsColumn)
			- xsClass = 'grid-' + xsColumn
		if (smColumn)
			- xsClass = 'grid-' + smColumn
		if (mdColumn)
			- xsClass = 'grid-' + mdColumn
		if (lgColumn)
			- xsClass = 'grid-' + lgColumn
		if (xlColumn)
			- xsClass = 'grid-' + xlColumn
	#{element}(class!=[xsClass, smClass, mdClass, lgClass, xlClass, attributes.class], style!=attributes.style)
		if block
			block

mixin item(element, xsColumn, smColumn, mdColumn, lgColumn, xlColumn)
	- element = !element ? 'div' : element
	- var xsClass = 0
	- var smClass = 0
	- var mdClass = 0
	- var lgClass = 0
	- var xlClass = 0
	if (construction == 'responsive')
		if (xsColumn)
			- xsClass = '_item-' + xsColumn
		if (smColumn)
			- smClass = '_item-sm-' + smColumn
		if (mdColumn)
			- mdClass = '_item-md-' + mdColumn
		if (lgColumn)
			- lgClass = '_item-lg-' + lgColumn
		if (xlColumn)
			- xlClass = '_item-xl-' + xlColumn
	if (construction == 'adaptive')
		if (xsColumn)
			- xsClass = '_item-' + xsColumn
		if (smColumn)
			- xsClass = '_item-' + smColumn
		if (mdColumn)
			- xsClass = '_item-' + mdColumn
		if (lgColumn)
			- xsClass = '_item-' + lgColumn
		if (xlColumn)
			- xsClass = '_item-' + xlColumn
	#{element}(class!=[xsClass, smClass, mdClass, lgClass, xlClass, attributes.class], style!=attributes.style)
		if block
			block
