@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,400,500,600&display=swap");

$rootpath: "..";
$csspath: $rootpath + "/css";
$jspath: $rootpath + "/js";
$fontpath: $rootpath + "/fonts";
$imgpath: $rootpath + "/images";
$mediapath: $rootpath + "/media";

@import "base/*.scss";
@import "vender/*.scss";
@import "element/*.scss";
@import "layout/*.scss";
@import "module/*.scss";
@import "component/*.scss";

@import "~slick-carousel/slick/slick";
// @import "~jquery-drawer/dist/css/drawer";
