.fxb-container,
.container {
	@include adaptive {
		@include desktop {
			width: $base-width;
			.l-main.theme-multi & {
				width: auto;
			}
		}
	}
	@include responsive {
		@include xs {
			width: auto;
		}
		@include sm {
			width: $base-sm-width;
		}
		@include md {
			width: $base-md-width;
		}
		@include lg {
			width: $base-lg-width;
		}
		@include xl {
			width: $base-xl-width;
		}
		.l-main.theme-multi & {
			width: auto;
		}
	}

	margin-left: auto;
	margin-right: auto;
	padding-left: $base-gutter / 2;
	padding-right: $base-gutter / 2;
}

.fxb-container-fluid,
.container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding-left: $base-gutter / 2;
	padding-right: $base-gutter / 2;
	width: auto;
}