[class^="fxb-col-"],
[class*=" fxb-col-"],
[class^="col-"],
[class*=" col-"] {
	padding-left: $base-gutter / 2;
	padding-right: $base-gutter / 2;
	width: 100%;
	&._cover-image {
		@include adaptive {
			@include mobile {
				min-height: 67vw;
			}
			@include desktop {
				min-height: 0;
			}
		}
		@include responsive {
			@include md {
				min-height: 0;
			}

			min-height: 67vw;
		}

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&._cover-content {
		@include adaptive {
			@include desktop {
				padding-left: $base-gutter;
				padding-right: $base-gutter;
			}
		}
		@include responsive {
			@include md {
				padding-left: $base-gutter;
				padding-right: $base-gutter;
			}
		}
	}
}

@include adaptive {
	@for $i from 1 through $base-column {
		@include desktop {
			.fxb-col-#{$i},
			.col-#{$i} {
				width: percentage($i / $base-column);
			}
		}
	}
}

@include responsive {
	@for $i from 1 through $base-column {
		@include xs {
			.fxb-col-#{$i},
			.col-#{$i} {
				width: percentage($i / $base-column);
			}
		}
	}
	@for $i from 1 through $base-column {
		@include sm {
			.fxb-col-sm-#{$i},
			.col-sm-#{$i} {
				width: percentage($i / $base-column);
			}
		}
	}
	@for $i from 1 through $base-column {
		@include md {
			.fxb-col-md-#{$i},
			.col-md-#{$i} {
				width: percentage($i / $base-column);
			}
		}
	}
	@for $i from 1 through $base-column {
		@include lg {
			.fxb-col-lg-#{$i},
			.col-lg-#{$i} {
				width: percentage($i / $base-column);
			}
		}
	}
	@for $i from 1 through $base-column {
		@include xl {
			.fxb-col-xl-#{$i},
			.col-xl-#{$i} {
				width: percentage($i / $base-column);
			}
		}
	}
}