ul.l-glyph

	li
		.icon.icon-bracket-top
		p.cssname
			| .icon-bracket-top
		p.codepoint
			| \E101
		.copycontainer
			.dev-elementView
				| <i class="icon-bracket-top"></i>

	li
		.icon.icon-bracket-left
		p.cssname
			| .icon-bracket-left
		p.codepoint
			| \E102
		.copycontainer
			.dev-elementView
				| <i class="icon-bracket-left"></i>

	li
		.icon.icon-bracket-right
		p.cssname
			| .icon-bracket-right
		p.codepoint
			| \E103
		.copycontainer
			.dev-elementView
				| <i class="icon-bracket-right"></i>

	li
		.icon.icon-bracket-bottom
		p.cssname
			| .icon-bracket-bottom
		p.codepoint
			| \E104
		.copycontainer
			.dev-elementView
				| <i class="icon-bracket-bottom"></i>

	li
		.icon.icon-facebook
		p.cssname
			| .icon-facebook
		p.codepoint
			| \E201
		.copycontainer
			.dev-elementView
				| <i class="icon-facebook"></i>

	li
		.icon.icon-twitter
		p.cssname
			| .icon-twitter
		p.codepoint
			| \E202
		.copycontainer
			.dev-elementView
				| <i class="icon-twitter"></i>

	li
		.icon.icon-instagram
		p.cssname
			| .icon-instagram
		p.codepoint
			| \E203
		.copycontainer
			.dev-elementView
				| <i class="icon-instagram"></i>

	li
		.icon.icon-line
		p.cssname
			| .icon-line
		p.codepoint
			| \E204
		.copycontainer
			.dev-elementView
				| <i class="icon-line"></i>

	li
		.icon.icon-youtube
		p.cssname
			| .icon-youtube
		p.codepoint
			| \E205
		.copycontainer
			.dev-elementView
				| <i class="icon-youtube"></i>

	li
		.icon.icon-arrow
		p.cssname
			| .icon-arrow
		p.codepoint
			| \E206
		.copycontainer
			.dev-elementView
				| <i class="icon-arrow"></i>

	li
		.icon.icon-menu
		p.cssname
			| .icon-menu
		p.codepoint
			| \E207
		.copycontainer
			.dev-elementView
				| <i class="icon-menu"></i>

	li
		.icon.icon-arrow-left
		p.cssname
			| .icon-arrow-left
		p.codepoint
			| \E208
		.copycontainer
			.dev-elementView
				| <i class="icon-arrow-left"></i>

	li
		.icon.icon-arrow-right
		p.cssname
			| .icon-arrow-right
		p.codepoint
			| \E209
		.copycontainer
			.dev-elementView
				| <i class="icon-arrow-right"></i>

	li
		.icon.icon-rhombus
		p.cssname
			| .icon-rhombus
		p.codepoint
			| \E210
		.copycontainer
			.dev-elementView
				| <i class="icon-rhombus"></i>

	li
		.icon.icon-building
		p.cssname
			| .icon-building
		p.codepoint
			| \E211
		.copycontainer
			.dev-elementView
				| <i class="icon-building"></i>

	li
		.icon.icon-search
		p.cssname
			| .icon-search
		p.codepoint
			| \E212
		.copycontainer
			.dev-elementView
				| <i class="icon-search"></i>

	li
		.icon.icon-close
		p.cssname
			| .icon-close
		p.codepoint
			| \E213
		.copycontainer
			.dev-elementView
				| <i class="icon-close"></i>