ul.l-glyph
<% _.each(glyphs, function(glyph) { %>
	li
		.<%= className %>.<%= className %>-<%= glyph.name %>
		p.cssname
			| .icon-<%= glyph.name %>
		p.codepoint
			| \<%= glyph.codepoint.toString(16).toUpperCase() %>
		.copycontainer
			.dev-elementView
				| <i class="icon-<%= glyph.name %>"></i>
<% }); %>