@font-face {
  font-family: "icon";
  src:
    url("../fonts/icon.eot");
  src:
    url("../fonts/icon.eot?#iefix") format("eot"),
    url("../fonts/icon.woff") format("woff"),
    url("../fonts/icon.ttf") format("truetype"),
    url("../fonts/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bracket-top:before {
    content: "\E101"
  }
.icon-bracket-left:before {
    content: "\E102"
  }
.icon-bracket-right:before {
    content: "\E103"
  }
.icon-bracket-bottom:before {
    content: "\E104"
  }
.icon-facebook:before {
    content: "\E201"
  }
.icon-twitter:before {
    content: "\E202"
  }
.icon-instagram:before {
    content: "\E203"
  }
.icon-line:before {
    content: "\E204"
  }
.icon-youtube:before {
    content: "\E205"
  }
.icon-arrow:before {
    content: "\E206"
  }
.icon-menu:before {
    content: "\E207"
  }
.icon-arrow-left:before {
    content: "\E208"
  }
.icon-arrow-right:before {
    content: "\E209"
  }
.icon-rhombus:before {
    content: "\E210"
  }
.icon-building:before {
    content: "\E211"
  }
.icon-search:before {
    content: "\E212"
  }
.icon-close:before {
    content: "\E213"
  }


@mixin icon ( $name ) {
  @if ($name == 'bracket-top') {
    content: "\E101";
  }
  @if ($name == 'bracket-left') {
    content: "\E102";
  }
  @if ($name == 'bracket-right') {
    content: "\E103";
  }
  @if ($name == 'bracket-bottom') {
    content: "\E104";
  }
  @if ($name == 'facebook') {
    content: "\E201";
  }
  @if ($name == 'twitter') {
    content: "\E202";
  }
  @if ($name == 'instagram') {
    content: "\E203";
  }
  @if ($name == 'line') {
    content: "\E204";
  }
  @if ($name == 'youtube') {
    content: "\E205";
  }
  @if ($name == 'arrow') {
    content: "\E206";
  }
  @if ($name == 'menu') {
    content: "\E207";
  }
  @if ($name == 'arrow-left') {
    content: "\E208";
  }
  @if ($name == 'arrow-right') {
    content: "\E209";
  }
  @if ($name == 'rhombus') {
    content: "\E210";
  }
  @if ($name == 'building') {
    content: "\E211";
  }
  @if ($name == 'search') {
    content: "\E212";
  }
  @if ($name == 'close') {
    content: "\E213";
  }
  
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

// x103-iconlist

.l-glyph {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -10px;

  >li {
    display: block;
    width: calc(50% - 20px);
    background-color: #ecf0f1;
    border-radius: .5em;
    padding: 10px 0;
    margin: 10px;
    text-align: center;
    @include lg {
      width: calc(25% - 20px);
    }
  }

  .icon {
    font-size: 2em;
  }

  .cssname {
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .copycontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;

    .codepoint {
      margin-top: 1em;
      font-family: monospace;
      color: #7f8c8d;
    }

    .dev-elementView {
      display: none;
    }

    .dev-elementCode {
      width: 100%;
      padding: 0 10px;
      pre {
        margin: 0;
        button {
          margin-top: 10px;
        }
      }
    }
  }
}