.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.text-indent-1 {
	text-indent: 1em;
}

.text-indent-2 {
	text-indent: 2em;
}

.text-indent-3 {
	text-indent: 3em;
}

.text-indent-4 {
	text-indent: 4em;
}

.text-color-default {
	color: $body-color;
}

.text-color-inverse {
	color: $gray-white;
}

.text-color-primary {
	color: $brand-primary;
}

.text-color-secondary {
	color: $brand-secondary;
}

.text-color-accent {
	color: $accent-color;
}

.text-weight-normal {
	font-weight: normal;
}

.text-weight-bold {
	font-weight: bold;
}

.text-style-italic {
	font-style: italic;
}

.text-style-oblique {
	font-style: oblique;
}

.text-style-line {
	text-decoration: underline;
}

.text-size-largest {
	font-size: $base-font-largest;
}

.text-size-larger {
	font-size: $base-font-larger;
}

.text-size-large {
	font-size: $base-font-large;
}

.text-size-medium {
	font-size: $base-font-medium;
}

.text-size-small {
	font-size: $base-font-small;
}

.text-size-smaller {
	font-size: $base-font-smaller;
}

.text-size-smallest {
	font-size: $base-font-smallest;
}

.text-family-sans {
	font-family: $base-font-sans;
}

.text-family-serif {
	font-family: $base-font-serif;
}

.text-family-code {
	font-family: $base-font-monospace;
}

.text-family-WEBFONTS {
	font-family: $base-font-WEBFONTS;
}

.text-width-block {
	display: block;
}

.text-width-inline {
	display: inline-block;
}