[class^="btn-"],
[class*=" btn-"] {
	background-color: $gray-lighter;
	border: 2px solid transparent;
	color: inherit;
	display: inline-block;
	font-weight: bold;
	padding: .75em 1.25em;
	text-align: center;
	text-decoration: none;
}

.btn-default {
	background-color: $gray-darker;
	color: $gray-white;
}

.btn-inverse {
	background-color: $gray-white;
	color: $gray-darker;
}

.btn-primary {
	background-color: $brand-primary;
	color: $gray-white;
}

.btn-secondary {
	background-color: $brand-secondary;
	color: $gray-white;
}

.btn-accent {
	background-color: $accent-color;
	color: $gray-white;
}

.btn-outline-default {
	background-color: transparent;
	border-color: $gray-darker;
	color: $gray-darker;
}

.btn-outline-inverse {
	background-color: transparent;
	border-color: $gray-white;
	color: $gray-white;
}

.btn-outline-primary {
	background-color: transparent;
	border-color: $brand-primary;
	color: $brand-primary;
}

.btn-outline-secondary {
	background-color: transparent;
	border-color: $brand-secondary;
	color: $brand-secondary;
}

.btn-outline-accent {
	background-color: transparent;
	border-color: $accent-color;
	color: $accent-color;
}

.btn-size-small {
	font-size: $base-font-small;
}

.btn-size-medium {
	font-size: $base-font-medium;
}

.btn-size-large {
	font-size: $base-font-large;
}

@for $i from 1 through $base-column {
	.btn-width-#{$i} {
		width: percentage($i / $base-column);
	}
}

.btn-disabled {
	pointer-events: none;
}