[class^="card-"],
[class*=" card-"] {
	background-color: $gray-lighter;
	color: inherit;
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	margin-top: 1em;
	text-decoration: none;
	 > ._image {
		min-height: 0%;
		img {
			width: 100%;
		}
	}
	 > ._content {
		padding-left: $base-gutter / 2;
		padding-right: $base-gutter / 2;
		._title {
			color: $heading-color;
			font-size: $base-font-large;
			font-weight: bold;
			margin-bottom: 0;
		}
		._outline {
			margin-top: .5em;
		}
	}
}

.card-default {
	background-color: $gray-white;
	box-shadow: 0 0 1em rgba($gray-black,.1);
}

.card-outline-default {
	background-color: $gray-white;
	border: 1px solid $gray-light;
	 > ._image {
		padding-left: $base-gutter / 2;
		padding-right: $base-gutter / 2;
		padding-top: $base-gutter / 2;
	}
}

.card-direction-vartical {
	flex-direction: column;
}

.card-direction-horizontal {
	flex-direction: row;
	 > ._image {
		max-width: 50%;
	}
}
