[class^="list-"],
[class*=" list-"] {
	counter-reset: i;
	list-style-type: none;
	padding-left: 0;
	> * {
		padding-left: 3em;
		position: relative;
		&:before {
			color: $body-color;
			counter-increment: i;
			display: inline-block;
			margin-right: -2.5em;
			position: absolute;
			right: 100%;
			text-decoration: none;
			white-space: nowrap;
		}
	}
}

.list-type-bullet > *:before {
	content: "\2022";
}

.list-type-number > *:before {
	content: counter(i) ".";
}

ul.list-type-circle > *:before {
	content: "\25CB";
}

ol.list-type-circle > *:before {
	border: 1px solid $body-color;
	border-radius: 50%;
	box-sizing: content-box;
	content: counter(i);
	line-height: 1;
	text-align: center;
	top: .25em;
	width: 1em;
}

ul.list-type-rectangle > *:before {
	content: "\20DE";
}

ol.list-type-rectangle > *:before {
	border: 1px solid $body-color;
	box-sizing: content-box;
	content: counter(i);
	line-height: 1;
	text-align: center;
	top: .25em;
	width: 1em;
}

ul.list-type-asterisk > *:before {
	content: "\FF0A";
}

ol.list-type-asterisk > *:before {
	content: "\FF0A" counter(i);
}

ul.list-type-komejirushi > *:before {
	content: "\203b";
}

ol.list-type-komejirushi > *:before {
	content: "\203b" counter(i);
}

ul.list-type-notice > *:before {
	content: "\6ce8";
}

ol.list-type-notice > *:before {
	content: "\6ce8"  counter(i);
}

ol.list-type-lowerLatin > *:before {
	content: counter(i, lower-latin) ".";
}

ol.list-type-upperLatin > *:before {
	content: counter(i, upper-latin) ".";
}

ol.list-type-parenthesis > *:before {
	content: "\0028" counter(i) "\0029";
}

ol.list-type-squareBracket > *:before {
	content: "\005B" counter(i) "\005D";
}

ol.list-type-angleBracket > *:before {
	content: "\27E8" counter(i) "\27E9";
}

.list-color-default > *:before {
	color: $body-color;
}

.list-color-inverse > *:before {
	color: $gray-white;
}

.list-color-primary > *:before {
	color: $brand-primary;
}

.list-color-secondary > *:before {
	color: $brand-secondary;
}

.list-color-accent > *:before {
	color: $accent-color;
}