[class^="table-"],
[class*=" table-"] {
	th,
	td {
		padding: .5em 1em;
	}
	thead tr {
		background-color: $gray-light;
	}
	tbody tr:nth-child(even) {
		background-color: $gray-lighter;
	}
}

.table-default {
	thead tr {
		background-color: $gray-darker;
		color: $gray-white;
	}
}

.table-primary {
	thead tr {
		background-color: $brand-primary;
		color: $gray-white;
	}
}

.table-secondary {
	thead tr {
		background-color: $brand-secondary;
		color: $gray-white;
	}
}

@for $i from 1 through $base-column {
	.table-width-#{$i} {
		width: percentage($i / $base-column);
	}
}

[class^="table-"],
[class*=" table-"] {
	th,
	td {
		&._bold {
			font-weight: bold;
		}
		&._normal {
			font-weight: normal;
		}
		&._primary {
			color: $brand-primary;
		}
		&._secondary {
			color: $brand-secondary;
		}
		&._accent {
			color: $accent-color;
		}
		&._disabled {
			color: $gray-medium;
		}
		&._left {
			text-align: left;
		}
		&._center {
			text-align: center;
		}
		&._right {
			text-align: right;
		}
		&._nowrap {
			white-space: nowrap;
		}
		&._width-2 {
			width: 2em;
		}
		&._width-4 {
			width: 4em;
		}
		&._width-6 {
			width: 6em;
		}
		&._width-8 {
			width: 8em;
		}
		&._width-10 {
			width: 10em;
		}
		&._width-12 {
			width: 12em;
		}
		&._width-14 {
			width: 14em;
		}
		&._width-16 {
			width: 16em;
		}
		&._width-18 {
			width: 18em;
		}
		&._width-20 {
			width: 20em;
		}
	}
}