.hr-color-default {
	border-top-color: $gray-light;
}

.hr-color-inverse {
	border-top-color: $gray-white;
}

.hr-color-primary {
	border-top-color: $brand-primary;
}

.hr-type-solid {
	border-top-style: solid;
}

.hr-type-dotted {
	border-top-style: dotted;
}

.hr-type-dashed {
	border-top-style: dashed;
}

.hr-type-double {
	border-top-style: double;
	border-top-width: 3px;
}