[class^="panel-"],
[class*=" panel-"] {
	background-color: $gray-white;
	border: 1px solid $gray-lighter;
	margin-bottom: 1em;
	margin-top: 1em;
	> ._header {
		background-color: $gray-lighter;
		padding-bottom: 1px;
		padding-left: $base-gutter / 2;
		padding-right: $base-gutter / 2;
		padding-top: 1px;
	}
	> ._content {
		padding-left: $base-gutter / 2;
		padding-right: $base-gutter / 2;
	}
}

.panel-default {
	border-color: $gray-darker;
	> ._header {
		background-color: $gray-darker;
		> ._title {
			color: $gray-white;
		}
	}
}

.panel-primary {
	border-color: $brand-primary;
	> ._header {
		background-color: $brand-primary;
		> ._title {
			color: $gray-white;
		}
	}
}

.panel-secondary {
	border-color: $brand-secondary;
	> ._header {
		background-color: $brand-secondary;
		> ._title {
			color: $gray-white;
		}
	}
}

.panel-accent {
	border-color: $accent-color;
	> ._header {
		background-color: $accent-color;
		> ._title {
			color: $gray-white;
		}
	}
}