[class^="label-"],
[class*=" label-"] {
	background-color: $gray-lighter;
	border: 1px solid transparent;
	color: $gray-darker;
	display: inline-block;
	padding: 0 1em;
	text-align: center;
	text-decoration: none;
}

.label-default {
	background-color: $gray-darker;
	color: $gray-white;
}

.label-inverse {
	background-color: $gray-white;
	color: $gray-darker;
}

.label-primary {
	background-color: $brand-primary;
	color: $gray-white;
}

.label-secondary {
	background-color: $brand-secondary;
	color: $gray-white;
}

.label-accent {
	background-color: $accent-color;
	color: $gray-white;
}

.label-outline-default {
	background-color: transparent;
	border-color: $gray-darker;
	color: $gray-darker;
}

.label-outline-inverse {
	background-color: transparent;
	border-color: $gray-white;
	color: $gray-white;
}

.label-outline-primary {
	background-color: transparent;
	border-color: $brand-primary;
	color: $brand-primary;
}

.label-outline-secondary {
	background-color: transparent;
	border-color: $brand-secondary;
	color: $brand-secondary;
}

.label-outline-accent {
	background-color: transparent;
	border-color: $accent-color;
	color: $accent-color;
}

.label-size-small {
	font-size: $base-font-small;
}

.label-size-medium {
	font-size: $base-font-medium;
}

.label-size-large {
	font-size: $base-font-large;
}