[class^="grid"],
[class*=" grid"] {
	display: flex;
	flex-wrap: wrap;
	margin-left: $base-gutter / -4;
	margin-right: $base-gutter / -4;
	> * {
		width: 100%;
	}
	> [class^="card-"], > [class*=" card-"],
	&[class^="list-"] > *,
	&[class*=" list-"] > * {
		margin-left: $base-gutter / 4;
		margin-right: $base-gutter / 4;
	}
	> ._item {
		padding-left: $base-gutter / 4;
		padding-right: $base-gutter / 4;
	}
}

@include adaptive {
	@include desktop {
		@for $i from 1 through $base-column {
			.grid-#{$i} {
				> ._item {
					width: percentage(1 / $i);
				}
				> [class^="card-"], > [class*=" card-"],
				&[class^="list-"] > *,
				&[class*=" list"] > * {
					width: calc(#{percentage(1 / $i)} - #{$base-gutter / 2});
				}
			}
		}
	}
	@include desktop {
		@for $i from 1 through $base-column {
			.grid {
				> ._item-#{$i} {
					width: percentage($i / $base-column);
				}
			}
		}
	}
}


@include responsive {
	@include xs {
		@for $i from 1 through $base-column {
			.grid-#{$i} {
				> ._item {
					width: percentage(1 / $i);
				}
				> [class^="card-"], > [class*=" card-"],
				&[class^="list-"] > *,
				&[class*=" list"] > * {
					width: calc(#{percentage(1 / $i)} - #{$base-gutter / 2});
				}
			}
		}
	}
	@include sm {
		@for $i from 1 through $base-column {
			.grid-sm-#{$i} {
				> ._item {
					width: percentage(1 / $i);
				}
				> [class^="card-"], > [class*=" card-"],
				&[class^="list-"] > *,
				&[class*=" list"] > * {
					width: calc(#{percentage(1 / $i)} - #{$base-gutter / 2});
				}
			}
		}
	}
	@include md {
		@for $i from 1 through $base-column {
			.grid-md-#{$i} {
				> ._item {
					width: percentage(1 / $i);
				}
				> [class^="card-"], > [class*=" card-"],
				&[class^="list-"] > *,
				&[class*=" list"] > * {
					width: calc(#{percentage(1 / $i)} - #{$base-gutter / 2});
				}
			}
		}
	}
	@include lg {
		@for $i from 1 through $base-column {
			.grid-lg-#{$i} {
				> ._item {
					width: percentage(1 / $i);
				}
				> [class^="card-"], > [class*=" card-"],
				&[class^="list-"] > *,
				&[class*=" list"] > * {
					width: calc(#{percentage(1 / $i)} - #{$base-gutter / 2});
				}
			}
		}
	}
	@include xl {
		@for $i from 1 through $base-column {
			.grid-xl-#{$i} {
				> ._item {
					width: percentage(1 / $i);
				}
				> [class^="card-"], > [class*=" card-"],
				&[class^="list-"] > *,
				&[class*=" list"] > * {
					width: calc(#{percentage(1 / $i)} - #{$base-gutter / 2});
				}
			}
		}
	}
	@include xs {
		@for $i from 1 through $base-column {
			.grid {
				> ._item-#{$i} {
					width: percentage($i / $base-column);
				}
			}
		}
	}
	@include sm {
		@for $i from 1 through $base-column {
			.grid {
				> ._item-sm-#{$i} {
					width: percentage($i / $base-column);
				}
			}
		}
	}
	@include md {
		@for $i from 1 through $base-column {
			.grid {
				> ._item-md-#{$i} {
					width: percentage($i / $base-column);
				}
			}
		}
	}
	@include lg {
		@for $i from 1 through $base-column {
			.grid {
				> ._item-lg-#{$i} {
					width: percentage($i / $base-column);
				}
			}
		}
	}
	@include xl {
		@for $i from 1 through $base-column {
			.grid {
				> ._item-xl-#{$i} {
					width: percentage($i / $base-column);
				}
			}
		}
	}
}