.align-left {
	@include adaptive {
		@include desktop {
			display: flex;
			justify-content: flex-start;
		}
	}
	@include responsive {
		@include md {
			display: flex;
			justify-content: flex-start;
		}
	}
}

.align-center {
	@include adaptive {
		@include desktop {
			display: flex;
			justify-content: center;
		}
	}
	@include responsive {
		@include md {
			display: flex;
			justify-content: center;
		}
	}
}

.align-right {
	@include adaptive {
		@include desktop {
			display: flex;
			justify-content: flex-end;
		}
	}
	@include responsive {
		@include md {
			display: flex;
			justify-content: flex-end;
		}
	}
}