.float-left {
	@include adaptive {
		@include desktop {
			float: left;
			margin-right: $base-gutter;
			> * {
				margin-top: 0;
			}
		}
	}
	@include responsive {
		@include md {
			float: left;
			margin-right: $base-gutter;
			> * {
				margin-top: 0;
			}
		}
	}
}

.float-right {
	@include adaptive {
		@include desktop {
			float: right;
			margin-left: $base-gutter;
			> * {
				margin-top: 0;
			}
		}
	}
	@include responsive {
		@include md {
			float: right;
			margin-left: $base-gutter;
			> * {
				margin-top: 0;
			}
		}
	}
}