.space-mt-m1 {
	margin-top: -1em;
}

.space-mt-m2 {
	margin-top: -2em;
}

.space-mt-m3 {
	margin-top: -3em;
}

.space-mt-m4 {
	margin-top: -4em;
}

.space-mb-m1 {
	margin-bottom: -1em;
}

.space-mb-m2 {
	margin-bottom: -2em;
}

.space-mb-m3 {
	margin-bottom: -3em;
}

.space-mb-m4 {
	margin-bottom: -4em;
}

.space-mt-p1 {
	margin-top: 1em;
}

.space-mt-p2 {
	margin-top: 2em;
}

.space-mt-p3 {
	margin-top: 3em;
}

.space-mt-p4 {
	margin-top: 4em;
}

.space-mb-p1 {
	margin-bottom: 1em;
}

.space-mb-p2 {
	margin-bottom: 2em;
}

.space-mb-p3 {
	margin-bottom: 3em;
}

.space-mb-p4 {
	margin-bottom: 4em;
}

.space-pt-1 {
	padding-top: 1em;
}

.space-pt-2 {
	padding-top: 2em;
}

.space-pt-3 {
	padding-top: 3em;
}

.space-pt-4 {
	padding-top: 4em;
}

.space-pb-1 {
	padding-bottom: 1em;
}

.space-pb-2 {
	padding-bottom: 2em;
}

.space-pb-3 {
	padding-bottom: 3em;
}

.space-pb-4 {
	padding-bottom: 4em;
}