.dev-h2 {
	background: $gray-darker;
	color: $gray-white;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: .5em ($base-gutter / 2);
}

.dev-h3 {
	background: $gray-light;
	color: $gray-darker;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: .5em ($base-gutter / 2);
}

.dev-h4 {
	background: $gray-lighter;
	color: $gray-darker;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: .5em ($base-gutter / 2);
}

.dev-checkerTextarea {
	border: 2px solid $gray-light;
	font-family: $code-font-family;
	font-size: $code-font-size;
	line-height: $code-line-height;
	margin-bottom: 1em;
	margin-top: 1em;
	min-height: 320px;
	outline: none;
	padding: $base-gutter / 4;
	width: 100%;
}

.dev-clipboard {
	background-color: $gray-dark;
	border: none;
	color: $gray-white;
	cursor: pointer;
	font-size: 1.2rem;
	padding: 0 .5em;
}

.dev-secret {
	display: none;
}

.dev-developerMode {
	background-color: $gray-black;
	border: none;
	color: $gray-white;
	cursor: pointer;
	font-size: 1.2rem;
	opacity: .2;
	position: absolute;
	right: 0;
	top: 0;
	&:active {
		opacity: .4;
	}
}

.dev-printBreak {
	page-break-before: always;
}